{% extends '@app/views/base.html' %}

{% block keywords %}伙购圈,圈子,圈子列表,1伙购币购手机,1伙购币购电脑,1伙购币购笔记本电脑,1伙购币购物,伙购{% endblock %}
{% block description %}{{ description }}{% endblock %}

{% block title %}伙购圈_{{ app.name }}{% endblock %}

{% block body %}
    {% include '@app/views/topbar.html' %}
    {% include '@app/views/nav.html' %}
    {% include '@app/views/cart.html' %}

    {% include '@app/modules/group/views/groupheader.html' %}

    <section id="hgq-area">
        <ul>
            {% for item in groups %}
            <li class="hgq-area-0{{ item.id }}">
                <a href="{{ url('default/view' , {'id':item.id}) }}" target="_blank">
                    <h2>{{ item.name }}</h2>
                    <span>成员：{{ item.user_count }}</span><span>话题：{{ item.topic_count }}</span>
                    <p>{{ item.intro[:33]|default('暂无简介') }}...</p>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>

    <section class="hgq-content">
        <div class="hgq-content-left">
            <ul class="hgq-content-tab">
                <li class="act"> 推 荐</li>
                <li>最 新</li>
                <li>热 门</li>
            </ul>
            <ul class="hgq-content-list" style="display: block;">
            </ul>

        </div>
        <div class="hgq-content-right">
            <div class="hot-theme">
                <div class="hot-title">
                    <h2>热门话题</h2>
                </div>
                <ul class="rightTopic">
                </ul>
            </div>
            <div class="hot-member">
                <div class="hot-title">
                    <h2>活跃成员</h2>
                </div>
                <ul class="activeUser">

                </ul>
            </div>
        </div>
    </section>

    {% include '@app/views/footer.html' %}

{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ app.params.skinUrl }}/js/group_new.js" ></script>
    <script type="text/javascript" src="{{ app.params.skinUrl }}/js/group.js" ></script>
    <script>
        $(function(){
            topicList();
            topicCondition(condition, topicList);
            rightTopicList();
            activeUser();
        })

        //鼠标移上出现红色外边框
        function pHover(par){
            $(par).on('mouseover', 'li', function(){
                $(this).children('.member-infocard').show();
            })
            $(par).on('mouseout', 'li', function(){
                $(this).children('.member-infocard').hide();
            })
        }
        pHover(".hot-theme");
        pHover(".hot-member");
    </script>
{% endblock %}