{% extends '@adminModule/views/base.html' %}

{% block main %}
<!-- content start -->
<div class="admin-content">

    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">伙购订单</strong></div>
    </div>

    <div class="am-g">
        {{ html.beginForm('', 'get', {}) | raw }}
        <div class="am-u-sm-12 am-u-md-2">
            <div class="am-form-group">
                <div class="am-u-sm-12">
                    <input type="text" class="am-form-field" name="id" value="{{ condition.id }}" placeholder="订单号"/>
                </div>
            </div>
        </div>

        <div class="am-u-sm-12 am-u-md-2">
            <div class="am-form-group">
                <div class="am-u-sm-12">
                    <input type="text" class="am-form-field" name="content" value="{{ condition.content }}" placeholder="用户名"/>
                </div>
            </div>
        </div>

        <div class="am-u-sm-12 am-u-md-3">
            <div class="am-form-group">
                <div class="am-u-sm-6" style="padding: 0px; width: 40%;">
                    <input type="text" class="am-form-field" id="my-start" name="start_time" value="{{ condition.startTime }}" placeholder="开始时间"/>
                </div>
                <div class="am-u-sm-6" style="padding: 0px; width: 40%;">
                    <input type="text" class="am-form-field" id="my-end" name="end_time" value="{{ condition.endTime }}" placeholder="结束时间"/>
                </div>
            </div>
        </div>

        <div class="am-u-sm-12 am-u-md-1">
            <div class="am-form-group">
                <select name="status">
                    <option value="0">状态</option>
                    <option value="1" {% if(condition.status == '1') %}selected{% endif %}>成功</option>
                    <option value="2" {% if(condition.status == '2') %}selected{% endif %}>失败</option>
                </select>
            </div>
        </div>

        <div class="am-u-sm-12 am-u-md-1">
            <button class="am-btn am-btn-default" type="submit">搜索</button>
        </div>
        <div class="am-u-sm-12 am-u-md-1">
            <button class="am-btn am-btn-default"><a href="{{ url }}">导出</a></button>
        </div>

        <div class="am-u-sm-12 am-u-md-2">
            <div class="am-form-group">
            总额：{{ list.total.total }}&nbsp; 实际金额：{{ list.total.totalMoney }}&nbsp; 福分：{{ list.total.totalPoint }}
            </div>
        </div>
        {{ html.endForm() | raw }}
    </div>

    <div class="am-g">
        <div class="am-u-sm-12">
            <form class="am-form">
                <table class="am-table am-table-striped am-table-hover table-main">
                    <thead>
                    <tr>
                        <th>订单号</th>
                        <th>会员</th>
                        <th>总金额</th>
                        <th>实际支付金额</th>
                        <th>支付福分</th>
                        <th class="am-hide-sm-only">支付方式</th>
                        <th class="am-hide-sm-only">支付来源</th>
                        <th class="am-hide-sm-only">伙购时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in list.list %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.user_id.phone }}<br />{{ item.user_id.email }}</td>
                        <td>{{ item.total }}</td>
                        <td>{{ item.money }}</td>
                        <td>{{ item.point }}</td>
                        <td class="am-hide-sm-only">{{ item.payment.name }}</td>
                        <td class="am-hide-sm-only">{{ item.source.name }}</td>
                        <td class="am-hide-sm-only">{{ item.buy_time }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="am-cf">
                    <div class="am-fr">
                        <div class="am-cf">
                            <p class="am-fl">共 {{ list.pagination.totalCount }} 条记录</p>

                            <div class="am-fr">
                                {{ use('/app/widgets/BackendLinkPager') }}
                                {{ backend_link_pager_widget({'pagination': list.pagination}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{{ app.params.skinUrl }}/backend/js/laydate/laydate.js"></script>
<script>
    laydate({
        elem: '#my-start',
        format: 'YYYY/MM/DD hh:mm:ss',
        //min: laydate.now(), //设定最小日期为当前日期
        max: '2099-06-16 23:59:59', //最大日期
        istime: true,
        istoday: false,
        choose: function(datas){
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas //将结束日的初始值设定为开始日
        }
    });

    laydate({
        elem: '#my-end',
        format: 'YYYY/MM/DD hh:mm:ss',
        //min: laydate.now(), //设定最小日期为当前日期
        max: '2099-06-16 23:59:59', //最大日期
        istime: true,
        istoday: false,
        choose: function(datas){
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas //将结束日的初始值设定为开始日
        }
    });
</script>
{% endblock %}