{% extends '@adminModule/views/base.html' %}

{% block css %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.params.skinUrl }}/backend/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{ app.params.skinUrl }}/backend/css/amazeui.min.css"/>
    <link rel="stylesheet" href="{{ app.params.skinUrl }}/backend/css/admin.css">
{% endblock %}

{% block main %}
    <div class="admin-content" style="padding-bottom: 26.5rem">
        <div class="am-cf am-padding">
            <div class="am-fl am-cf">
                <strong class="am-text-primary am-text-lg">banner修改</strong>
            </div>
        </div>

        <hr>
        <div>
            <div class="am-u-sm-12">
                {{ html.beginForm('', 'post', {'class':'am-form am-form-horizontal', 'id':'product-form', 'enctype':"multipart/form-data"}) | raw }}

                <div class="am-form-group">
                    {{ html.activeLabel(model, 'name', {'class':'am-u-sm-2 am-form-label'})|raw }}
                    <div class="am-u-sm-10">
                        {{ html.activeTextInput(model, 'name', {'placeholder':'名称'})|raw }}
                        {{ html.error(model, 'name', {'class':'am-alert am-alert-danger'})|raw }}
                    </div>
                </div>

                <div class="am-form-group">
                    {{ html.activeLabel(model, 'link', {'class':'am-u-sm-2 am-form-label'})|raw }}
                    <div class="am-u-sm-10">
                        {{ html.activeTextInput(model, 'link', {'placeholder':'链接地址'})|raw }}
                        {{ html.error(model, 'link', {'class':'am-alert am-alert-danger'})|raw }}
                    </div>
                </div>

                <div class="am-form-group">
                    {{ html.activeLabel(model, 'picture', {'class':'am-u-sm-2 am-form-label'})|raw }}

                    <div class="am-form-group am-form-file">
                        {% if(image != '') %} <img src="{{ image }}">{% endif %}
                        <button type="button" class="am-btn am-btn-danger am-btn-sm">
                            <i class="am-icon-cloud-upload"></i> 选择要上传的图片</button>
                        <input id="doc-form-file" type="file" multiple name="picture">
                        {{ html.error(model, 'picture', {'class':'am-alert am-alert-danger'})|raw }}
                        <div id="file-list"></div>
                    </div>
                </div>

                <div class="am-form-group">
                    {{ html.activeLabel(model, 'list_order', {'class':'am-u-sm-2 am-form-label'})|raw }}
                    <div class="am-u-sm-10">
                        {{ html.activeTextInput(model, 'list_order', {'placeholder':'排序'})|raw }}<span>(0-9之间，越高则越靠前)</span>
                        {{ html.error(model, 'list_order', {'class':'am-alert am-alert-danger'})|raw }}
                    </div>
                </div>

                <div class="am-form-group">
                    <div class="am-u-sm-10 am-u-sm-push-2">
                        <button type="submit" class="am-btn am-btn-primary">保存</button>
                    </div>
                </div>
                {{ html.endForm() | raw }}
            </div>
        </div>
    </div>

    <div class="am-alert am-alert-danger" id="my-alert" style="display: none">
        <p>开始日期应小于结束日期！</p>
    </div>
{% endblock %}

{% block script %}

    <script type="text/javascript">
        $(function() {
            $('#doc-form-file').on('change', function() {
                var fileNames = '';
                $.each(this.files, function() {
                    fileNames += '<span class="am-badge">' + this.name + '</span> ';
                });
                $('#file-list').html(fileNames);
            });
        });
    </script>

{% endblock %}
