{% extends 'main.html' %}


{% block main %}
<div class="admin-content" style="padding-bottom: 26.5rem">
<div class="am-cf am-padding">
    <div class="am-fl am-cf">
        <strong id="title" class="am-text-primary am-text-lg">分享设置</strong>
        <button class="am-btn am-btn-default" value="返回" onclick="history.back();">返回</button>
    </div>
</div>
<hr>


<div class="am-u-sm-12">
    {% set form=ActiveForm_begin({"options":{"class":"am-form am-form-horizontal"}})  %}
    {{  html.activeHiddenInput(model, "id") | raw }}
    {{   form.field(model,'share_type').listBox({"":"--类型--","product":"商品","share":"晒单分享","zhongjiang":"中奖","free":"0元购"},{"size":1})  | raw }}
    
    {{   form.field(model,'share_name').textInput() | raw }}
    {{   form.field(model,'share_link').textInput()  | raw }}
    {{   form.field(model,'share_des').textarea({"placeholder":""})   | raw }}
    {{   form.field(model,'share_img').textInput({"placeholder":"图片链接"})  | raw }}
    
    {{   form.field(model,'system').radioList({'android':"Android",'ios':"IOS"}) | raw }}
    {{   form.field(model,'status').checkbox() | raw }}
    {{  html.submitButton('保存',{'class':'am-btn am-btn-primary'}) | raw }}
    {{  ActiveForm_end() | raw }}
</div>


</div>
{% endblock %}