@charset "UTF-8";

@font-face {
    font-family:Thin;src:url("//static.udache.com/gulfstream/webapp/fonts/HelveticaNeueThin.ttf") format('truetype')
}

html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,em,img,input,q,b,dl,dt,dd,ol,ul,li,form,label,canvas {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0
}

html,body {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0
}

body {
    -webkit-user-select: none;
    -webkit-text-size-adjust: 100% !important;
    background-color: #fafafa;
    font-size-adjust: none;
    text-align: center;
    margin: 0 auto;
    font-family: 'Microsoft YaHei',arial,sans-serif,'Droid Sans Fallback'
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

#main {
    height: 100%
}

.btn-gray,.btn-white,.btn-orange {
    cursor: default;
    display: inline-block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    background-clip: padding-box;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.01) inset
}

.btn-gray {
    background: #e5e5e5 !important;
    color: #aaa !important;
    border: 1px solid #e5e5e5 !important
}

.s-border,.s-border-after {
    position: relative
}

.s-border:before,.s-border-after:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #aaa;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-color: inherit;
    border-radius: 4px
}

.btn-white {
    color: #666;
    padding: 1px;
    box-shadow: 0 0 0 1px #e0e0e0 inset;
    background: #fff
}

.btn-orange {
    color: #fff;
    border: 1px solid #ed8000;
    background: #ed8000
}

.btn-valid-hover:active {
    background-color: #df7800
}

.btn-white,.btn-orange {
    transition: all .4s;
    -ms-transition: all .4s;
    -webkit-transition: all .4 qs
}

.btn-white.active {
    background: #e5e5e5
}

.btn-orange.active {
    border: 1px solid #ca6d00;
    background: #ca6d00
}

#btn-back {
    display: block;
    width: 34px;
    height: 34px;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
    background: url("//static.xiaojukeji.com/webapp/images/move_icon.png") no-repeat;
    background-size: 278px 44px;
    background-position: -5px -5px;
    position: absolute;
    top: 20px;
    left: 20px
}

.hr {
    width: 100%;
    height: 1px;
    background-color: #d7d7d7
}

#main {
    padding: 0;
    width: 100%;
    margin: 0
}

.header {
    padding-top: 3px;
    padding-bottom: 10px
}

.h1 {
    font-size: 25px;
    max-height: 25px;
    line-height: 25px;
    color: #ff8a01;
    padding: 5px 0
}

.h2 {
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    color: #666;
    font-weight: normal;
    padding: 5px 0
}

.footer {
    margin-top: 15px
}

.footer:after {
    content: "";
    display: block;
    clear: both;
    overflow: hidden;
    height: 0
}

.footer.btn2 .btn {
    width: 48%;
    float: left;
    box-sizing: border-box
}

.footer.btn2 .btn:last-child {
    margin-left: 4%
}

.didi-dialog-wall {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    z-index: 9998
}

.didi-dialog-wrap {
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    border-radius: 5px;
    -webkit-border-radius: 8px;
    background: #e8e7e6;
    display: none;
    z-index: 9999
}

.didi-dialog-bar {
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: 0;
    height: 8px;
    background-color: #ff8a01;
    box-sizing: content-box
}

.didi-dialog-content {
    height: 96.2%;
    width: 86%;
    display: inline-block;
    padding: 0
}

.didi-dialog-icon {
    margin: 20px 0 0 0;
    z-index: 10001;
    opacity: 1.0;
    filter: alpha(opacity=100)
}

.didi-dialog-title {
    font-weight: 600
}

.didi-dialog-p {
    margin: 0;
    z-index: 10011;
    opacity: 1.0;
    filter: alpha(opacity=100)
}

.didi-dialog-footer {
    margin: 18px 0
}

.didi-dialog-footer a {
    cursor: default;
    display: inline-block;
    margin: 0;
    width: 90px;
    height: 43px;
    line-height: 43px;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    box-sizing: border-box
}

.dialog-icon {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #f0f0f0
}

.dialog-icon:before {
    content: "";
    display: block;
    background: url(image/dialog-icon.gif);
    background-size: 40px;
    width: 40px;
    height: 40px;
    margin: 10px
}

.icon-alert:before {
    background-position: 0 0
}

.icon-msg:before {
    background-position: 0 -40px
}

.icon-loading {
    background: url(image/loading_2.gif) no-repeat
}

.icon-loading:before {
    display: none
}

#pages {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #fafafa
}

#pages>li {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
    list-style: none;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s
}

#pages>li.no-animate {
    transition: none;
    -ms-transition: none;
    -webkit-transition: none
}

#pages>li canvas {
    zoom: 1
}

#pages>li.open {
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

#pages>li.left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}

#pages>li.pages-iframe-li {
    padding: 0;
    width: 100%
}

#pages>li iframe.pages-iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%
}

#pages>li>.main {
    box-sizing: border-box
}

#pages>li.title3>.header {
    height: 59px
}

#pages>li.title0>.header {
    display: none
}

#pages>li.title1>.header {
    height: 34px
}

#pages>li.title2>.header {
    height: 27px
}

.driver-star {
    width: 75px;
    height: 15px;
    margin: 1px 0;
    background: url(image/star.png) 0 0 repeat-x;
    background-size: 15px auto;
    display: inline-block;
    vertical-align: sub
}

.driver-star:before {
    content: "";
    display: block;
    height: 15px;
    background: url(image/star.png) 0 -15px repeat-x;
    background-size: 15px auto
}

.star.star0:before {
    width: 0
}

.star.star1:before {
    width: 7px
}

.star.star2:before {
    width: 15px
}

.star.star3:before {
    width: 22px
}

.star.star4:before {
    width: 30px
}

.star.star5:before {
    width: 37px
}

.star.star6:before {
    width: 45px
}

.star.star7:before {
    width: 52px
}

.star.star8:before {
    width: 60px
}

.star.star9:before {
    width: 67px
}

.star.star10:before {
    width: 75px
}

.img-icon-before:before {
    content: "";
    background: url(image/icons.png);
    width: 20px;
    height: 20px;
    display: inline-block
}

.img-icon {
    background: url(image/icons.png);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 40px auto
}

.angle-right:after {
    width: 10px;
    height: 10px;
    content: "";
    display: inline-block;
    background: url(image/icons.png) -10px -10px;
    background-size: 20px auto;
    margin-left: 3px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1)
}

.slide-tips-cont {
    position: absolute;
    z-index: 500;
    top: -45px;
    left: 0;
    right: 0;
    height: 40px;
    text-align: center;
    transition: all .4s;
    -ms-transition: all .4s;
    -webkit-transition: all .4s
}

.slide-tips-cont.open {
    top: -5px
}

.slide-tips {
    background: rgba(0,0,0,0.7);
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding: 5px 15px 0;
    border-radius: 0 0 5px 5px;
    color: #fff;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.7);
    font-size: 15px
}

.slide-tips:before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 5px;
    background: url(image/icons.png) -18px -36px;
    background-size: 36px auto;
    vertical-align: sub
}