<div class="bottombg">
    <div class="bot_top1">
        <div class="main">
            <div class="list list1">
                <span>
                <h3>100%公平公正</h3>
                <p>参与过程公开透明，用户可随时查看</p>
                </span>
            </div>
            <div class="list list2">
                <span>
                <h3>100%正品保证</h3>
                <p>精心挑选优质产品，100%品牌正品</p>
                </span>
            </div>
            <div class="list list3">
                <span>
                <h3>100%权益保障</h3>
                <p>多重保障，让用户无忧夺宝</p>
                </span>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="main">
        <div class="bot_top2">
            <div class="list"><span>滴滴夺宝官方1群 538905605</span></div>
            <div class="list" style="text-align:center;"><span>滴滴夺宝官方2群 124321562</span></div>
            <div class="list"><span class="ys2">客服热线：400-006-7060</span></div>
        </div>
        <div class="bot_bot">
            <a target="_blank" href="{{ url(['/']) }}">首页</a> |
            <a target="_blank" href="{{ url(['/ddhelp/default/about']) }}">关于我们</a> |
            <a target="_blank" href="{{ url(['/ddhelp/default/privacy']) }}">隐私声明</a> |
            <a target="_blank" href="{{ url(['/ddhelp/default/help']) }}">帮助中心</a> |
            <a target="_blank" href="{{ url(['/ddhelp/default/contact'])}}">联系我们</a>
        </div>
    </div>
</div>