<!--侧栏缩减-->
<section id="quick-links">
    <ul>
        <li class="quick-a">
            <a href=""><b>在线<br>客服</b></a>
        </li>
        <li class="quick-b">
            <a href="">
                <b>手机<br>APP</b>
                <p><img src="{{ app.params.skinUrl }}/img/pic04.jpg" alt=""><br>下载手机端</p>
            </a>
        </li>
        <li class="quick-c">
            <a href="">
                <b>微信</b>
                <p><img src="{{ app.params.skinUrl }}/img/pic04.jpg" alt=""><br>下载手机端</p>
            </a>
        </li>
        <li class="quick-d">
            <a href=""><b>反馈</b></a>
        </li>
        <li id="get_top" class="quick-e">
            <b>返回<br>顶部</b>
        </li>
    </ul>
</section>
<!--侧栏缩减-->
