<div class="g-nav">
    <div class="w1190">
        <div id="divGoodsSort" class="m-menu fl">
            <div class="m-menu-all">
                <h3><a href="http://www.1yyg.com/list/m1.html">全部商品分类</a><em></em></h3>
            </div>
            <div id="divSortList" class="m-all-sort" style="display: none;">
                <dl class="">
                    <dt><a href="http://www.1yyg.com/list/i100.html">手机数码</a></dt>
                    <dd>
                        <a href="http://www.1yyg.com/list/i101.html">手机</a>
                        <a href="http://www.1yyg.com/list/i102.html">数码</a>
                        <a href="http://www.1yyg.com/list/i103.html">影音</a>
                        <a href="http://www.1yyg.com/list/i101b59.html">苹果手机</a>
                    </dd>
                </dl>
                <dl class="">
                    <dt><a href="http://www.1yyg.com/list/i106.html">电脑办公</a></dt>
                    <dd>
                        <a href="http://www.1yyg.com/list/i157.html">笔记本</a>
                        <a href="http://www.1yyg.com/list/i159.html">平板电脑</a>
                        <a href="http://www.1yyg.com/list/i115.html">外设</a>
                        <a href="http://www.1yyg.com/list/i117.html">网络</a>
                    </dd>
                </dl>
                <dl class="">
                    <dt>
                        <a href="http://www.1yyg.com/list/i104.html">家电</a>
                        <span>/</span>
                        <a href="http://www.1yyg.com/list/i305.html">汽车</a>
                    </dt>
                    <dd>
                        <a href="http://www.1yyg.com/list/i105.html">大家电</a>
                        <a href="http://www.1yyg.com/list/i108.html">厨房</a>
                        <a href="http://www.1yyg.com/list/i107.html">生活</a>
                        <a href="http://www.1yyg.com/list/i109.html">个护</a>
                    </dd>
                </dl>
                <dl class="">
                    <dt><a href="http://www.1yyg.com/list/i2.html">化妆个护</a></dt>
                    <dd>
                        <a href="http://www.1yyg.com/list/i3.html">面部护理</a>
                        <a href="http://www.1yyg.com/list/i205.html">美发护发</a>
                        <a href="http://www.1yyg.com/list/i12.html">香水</a>
                    </dd>
                </dl>
                <dl class="">
                    <dt>
                        <a href="http://www.1yyg.com/list/i222.html">钟表首饰</a>
                        <span>/</span>
                        <a href="http://www.1yyg.com/list/i251.html">礼品箱包</a>
                    </dt>
                    <dd>
                        <a href="http://www.1yyg.com/list/i223.html">珠宝首饰</a>
                        <a href="http://www.1yyg.com/list/i241.html">金条银条</a>
                        <a href="http://www.1yyg.com/list/i243.html">手表</a>
                    </dd>
                </dl>
                <dl class="">
                    <dt>
                        <a href="http://www.1yyg.com/list/i397.html">食品饮料</a>
                        <span>/</span>
                        <a href="http://www.1yyg.com/list/i312.html">其他</a>
                    </dt>
                    <dd>
                        <a href="http://www.1yyg.com/list/i398.html">美食</a>
                        <a href="http://www.1yyg.com/list/i423.html">粮油</a>
                        <a href="http://www.1yyg.com/list/i400.html">酒类</a>
                        <a href="http://www.1yyg.com/list/i399.html">饮料</a>
                    </dd>
                    <i></i></dl>
            </div>

        </div>
        <div class="nav-main fl">
            <ul>
                <li class="f-nav-home"><a href="http://www.1yyg.com/">首页</a></li>
                <li class="f-nav-lottery"><a href="http://www.1yyg.com/lottery/m1.html">最新揭晓</a></li>
                <li class="f-nav-limit"><span class="nav-new transparent-png"></span><a href="http://www.1yyg.com/limitBuy/m1.html">限购专区</a></li>
                <li class="f-nav-share"><a href="http://post.1yyg.com/">晒单分享</a></li>
                <li class="f-nav-group"><a href="http://group.1yyg.com/">伙购圈</a></li>
                <li class="f-nav-invite"><a href="http://member.1yyg.com/ReferAuth.do">邀请</a></li>
                <li class="f-nav-guide"><a href="http://help.1yyg.com/info/newbie/index.html">新手指南</a></li>
            </ul>
        </div>
        <div id="divHCart" class="nav-cart fr">
            <div class="nav-cart-btn">
                <a href="http://cart.1yyg.com/CartList.do" target="_blank"><i class="f-cart-icon"></i>购物车<span id="spHCart"></span></a>
            </div>
            <div class="nav-cart-con">
                <div class="m-loading-2014"><em></em></div>
                <div class="nav-car-cartEmpty"><i></i>您的购物车为空 !</div>
                <div class="nav-cart-select"></div>
                <div class="nav-cart-pay"></div>
            </div>
        </div>
    </div>
</div>