{% extends '@mobileModule/views/base.html' %}

{% block title %}安全设置 - {{app.name}}{% endblock %}
{% block header %}登录保护{% endblock %}

{% block css %}
<link href="{{ app.params.skinUrl }}/mobile/css/security.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js %}
<script src="{{ app.params.skinUrl }}/mobile/js/loginremindset.js" language="javascript" type="text/javascript"></script>
{% endblock %}

{% block body %}

<div class="h5-1yyg-v11">
    <!-- 内页顶部 -->
    <section>
        <input name="hidFlag" type="hidden" id="hidFlag" value="{{flag}}" />
        <div class="login-protection clearfix">
            <p class="gray6"> 登录保护 <a id="a_switch"><b></b></a> </p>
            <span class="gray9"> 关注官方微信后，登录您的账号时，将使用微信的方式提醒您，防止盗号。 </span>
        </div>
    </section>
    {% include '@mobileModule/views/footer.html' %}
</div>
{% endblock %}