{% extends '@mobileModule/views/base.html' %}

{% block title %}安全设置 - {{app.name}}{% endblock %}
{% block header %}登录密码修改{% endblock %}

{% block css %}
<link href="{{ app.params.skinUrl }}/mobile/css/security.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js %}
<script src="{{ app.params.skinUrl }}/mobile/js/loginpwdupdate.js" language="javascript" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div class="h5-1yyg-v1">
    <!-- 内页顶部 -->
    <section>
        <div class="update-pwd clearfix">
            <dl>
                <dt class="gray6">
                    账户名： {{account}}
                </dt>
                <dd>
                    <input id="txtOldPwd" type="password" maxlength="20" placeholder="请输入原密码" />
                    <em>当前密码</em>
                </dd>
                <dd>
                    <input id="txtNewPwd" type="password" maxlength="20" placeholder="8-20位字母,数字或符号两种或以上组合" />
                    <em>新密码</em>
                </dd>
                <dd>
                    <input id="txtConNewPwd" type="password" maxlength="20" placeholder="重复输入新密码" />
                    <em>确认新密码</em>
                </dd>
            </dl>
            <p><a id="btnSubmit" href="javascript:;" class="orgBtn">保 存</a></p>
        </div>
    </section>


    {% include '@mobileModule/views/footer.html' %}
</div>
{% endblock %}