{% extends '@mobileModule/views/base.html' %}

{% block title %}发布晒单{% endblock %}

{% block css %}
<link href="{{ app.params.skinUrl }}/mobile/css/member.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js %}
<script src="{{ app.params.skinUrl }}/mobile/js/post_one.js" language="javascript" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div>
    <input name="hidCodeID" type="hidden" id="hidCodeID" value="1933186" />
    <input name="hidBack" type="hidden" id="hidBack" value="0" />
    <div class="clearfix g-member g-Single">
        <div style="display: none;">
            <iframe name="upFrame" scrolling="no" src="about:blank"></iframe>
        </div>
        <div class="m-single-tt">
            <input id="txtTitle" type="text" class="z-input" value="{{ model.title }}" placeholder="晒单标题"/>
        </div>
        <div class="m-single-ct">
            <textarea id="txtContent" name="comment" rows="3" class="z-comment-txt" placeholder="晒单感言">{{ model.content }}</textarea>
        </div>
        <input id="hidPicAll" type="hidden" value="{% for key,picture in pictures %}{{ picture.basename }}{% if loop.last != true %},{% endif %}{% endfor %}"" name="hidPicAll" />
        <div class="m-single-img">
            
            <ul id="ulPicBox">
                {% for picture in pictures %}
                <li class="item"><img width="50" height="50" border="0" alt="" src="{{ picture.url }}" ></li>
                 {% endfor %}
                 
                <li id="imageLoading" style="display: none;"><img src="{{app.params.skin}}/mobile/images/logining.gif" /></li>
                <li> 
                    <img src="{{app.params.skin}}/mobile/images/single_pic.png" border="0" alt="" style="width:50px" />
                    <form id="pageForm" name="pageForm" method="post" target="upFrame" enctype="multipart/form-data" action="postuploadimage.html">
                        <input id="btnUpload" type="file" name="upload" class="Upload" hidefocus="true" data-hook="fileBtn"  />
                    </form>
                </li>
            </ul>
            
        </div>
        <div class="u-Btn">
            <div class="u-Btn-li">
                <a id="btnSubmit" href="javascript:;" class="z-DefineBtn">确认发布</a>
            </div>
        </div>
        <div class="m-single-exp mt10 gray9">
            <p>1、晒单内容越详细，获得的福分奖励就越多（限时商品除外）；</p>
            <p>2、您的文字描述应不少于100字，高清的商品实拍照不少于3张；</p>
            <p>3、请避免晒单内容中文字与图片的大量重复；</p>
            <p>4、为提高晒单的真实性，您可以展示真实有效的快递单号；</p>
            <p>5、建议晒出您与商品的合照，您的手机短信、邮件通知及伙购网上的交易详情页面截图等；</p>
            <p>6、注意保持晒单内容与获得商品的关联性，请勿使用其他网站的图片，请勿违反国家相关规定，否则我们有权删除并冻结账号，且保留追究其法律责任的权利</p>
            <p>7、如果晒单内容非常新颖，那么您有可能会获得更高的奖励！</p>
        </div>
    </div>
    <div id="prePicBox" class="m-single-editor">
        <div class="m-single-pic">
            <span id="imgLoad" style="display: none;"> <img src="{{app.params.skin}}/mobile/images/m-loading.gif" border="0" alt="" width="30" height="30" /> </span>
            <span > <img id="imgBig" src="{{app.params.skin}}/mobile/images/m-loading.gif" border="0" alt=""  /> </span>
        </div>
        <div class="g-snav z-editor-Btnbg">
            <div class="g-snav-lst z-Btn-del">
                <a id="btnDelete" href="javascript:;"><b></b>删除</a>
            </div>
            <div class="g-snav-lst z-Btn-Rotation" style="display:none;">
                <a id="btnRotate" href="javascript:;"><b></b>旋转</a>
            </div>
            <div class="g-snav-lst z-Btn-Close">
                <a id="btnClose" href="javascript:;"><b></b>关闭</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}