<div class="footer" style="">
  <ul>
    <li class="f_home"><a href="{{ url(['/ddweixin']) }}" title="首页" {% if this.context.uniqueId=='ddweixin/default' %}class="hover"{% endif %}><i></i>首页</a></li>
    <!--<li class="f_whole"><a href="{{ url(['/ddweixin/list']) }}" title="所有商品" {% if this.context.uniqueId=='ddweixin/list' %}class="hover"{% endif %}><i></i>所有商品</a></li>-->
    <li class="f_announced"><a href="{{ url(['/ddweixin/lottery']) }}" {% if this.context.uniqueId=='ddweixin/lottery' %}class="hover"{% endif %}><i></i>最新揭晓</a></li>
    <li class="f_guide"><a href="{{ url(['/ddweixin/help/about']) }}" {% if this.context.uniqueId=='ddweixin/help' %}class="hover"{% endif %}><i></i>新手指南</a></li>
    <!--<li class="f_single"><a href="{{ url(['/ddweixin/post']) }}" {% if this.context.uniqueId=='ddweixin/post' %}class="hover"{% endif %}><i></i>晒单</a></li>-->
    <li class="f_car"><a id="btnCart" href="{{ url(['/ddweixin/cart']) }}" title="购物车" {% if this.context.uniqueId=='ddweixin/cart' %}class="hover"{% endif %}><i></i>购物车</a></li>
    <li class="f_personal"><a href="{{ url(['/ddweixin/member']) }}" title="我的夺宝" {% if this.context.uniqueId=='ddweixin/member' %}class="hover"{% endif %}><i></i>我的夺宝</a></li>
  </ul>
</div>