{% extends '@adminModule/views/base.html' %}

{% block main %}
    <!-- content start -->
<div class="admin-content" >
    {% include '@adminModule/views/member/top.html' %}
    <div class="am-g">
        <div class="am-u-sm-12 am-u-md-2">
            <div class="am-form-group">
                <a href="{{ url('/admin/member/message', {'id': id, 'flag': 1}) }}">系统消息</a>
                <a href="{{ url('/admin/member/message', {'id': id, 'flag': 2}) }}">私信</a>
                <a href="{{ url('/admin/member/message', {'id': id, 'flag': 3}) }}">好友请求</a>
            </div>
        </div>
    </div>
    <div class="am-g">
        <div class="am-u-sm-12 am-u-md-2">
            <div class="am-form-group">
                <a href="{{ url('/admin/member/message', {'id': id, 'region': 0, 'flag': condition.flag}) }}">全部</a>
                <a href="{{ url('/admin/member/message', {'id': id, 'region': 1, 'flag': condition.flag}) }}">今天</a>
                <a href="{{ url('/admin/member/message', {'id': id, 'region': 2, 'flag': condition.flag}) }}">本周</a>
                <a href="{{ url('/admin/member/message', {'id': id, 'region': 3, 'flag': condition.flag}) }}">本月</a>
                <a href="{{ url('/admin/member/message', {'id': id, 'region': 4, 'flag': condition.flag}) }}">近三个月</a>
            </div>
        </div>

        {{ html.beginForm('', 'get', {}) | raw }}
        <div class="am-u-sm-12 am-u-md-1">
            <div class="am-form-group" style="width: 100px">
                选择时间段：
            </div>
        </div>

        <div class="am-u-sm-6 am-u-md-2" style="width: 200px;">
            <div class="am-input-group am-input-group-sm">
                <input type="text" class="am-form-field" id="start" name="start_time" value="{{ condition.start_time }}"/>
            </div>
        </div>


        <div class="am-u-sm-6 am-u-md-2" style="float: left;">
            <div class="am-input-group am-input-group-sm">
                <input type="text" class="am-form-field" id="end" name="end_time" value="{{ condition.end_time }}"/>
                <span class="am-input-group-btn">
                    <button class="am-btn am-btn-default" type="submit">搜索</button>
                </span>
            </div>
        </div>
        {{ html.endForm() | raw }}
    </div>
    <div class="am-g">
        <div class="am-u-sm-12">
            <form class="am-form">
                <table class="am-table am-table-striped am-table-hover table-main">
                    {% if condition.flag == 1 %}
                        <thead>
                        <tr>
                            <th>内容</th>
                            <th class="am-hide-sm-only">时间</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for value in list %}
                            <tr>
                                <td>{{ value.message }}</td>
                                <td>{{ value.created_at|date('Y-m-d H:i:s') }}</td>
                            </tr>
                           {% endfor %}
                        </tbody>
                    {% elseif condition.flag == 2 %}
                        <thead>
                        <tr>
                            <th>类型</th>
                            <th>对象</th>
                            <th>内容</th>
                            <th class="am-hide-sm-only">时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for value in list %}
                        <tr>
                            <td>{{ value.type }}</td>
                            <td>{{ value.username }}</td>
                            <td>{{ value.content }}</td>
                            <td>{{ value.created_at|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    {% else %}
                        <thead>
                        <tr>
                            <th>会员名</th>
                            <th>状态</th>
                            <th class="am-hide-sm-only">时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for value in list %}
                        <tr>
                            <td>{{ value.username }}</td>
                            <td>{% if value.status == 0 %}未处理{% elseif value.status == 1%}已同意{% else %}已忽略{% endif %}</td>
                            <td>{{ value.apply_time|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    {% endif %}
                </table>
                <div class="am-cf">
                    <p class="am-fl">共 {{ pagination.totalCount }} 条记录</p>
                    <div class="am-fr">
                        {{ use('/app/widgets/BackendLinkPager') }}
                        {{ backend_link_pager_widget({'pagination': pagination}) }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    <!-- content end -->
{% endblock %}

{% block script %}
<script src="{{ app.params.skinUrl }}/backend/js/laydate/laydate.js"></script>
<script type="text/javascript">
    var startDate = new Date();
    var endDate = new Date();
    laydate({
        elem: '#start',
        format: 'YYYY/MM/DD hh:mm:ss',
        //min: laydate.now(), //设定最小日期为当前日期
        max: '2099-06-16 23:59:59', //最大日期
        istime: true,
        istoday: false,
        choose: function(datas){
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas //将结束日的初始值设定为开始日
        }
    });
    laydate({
        elem: '#end',
        format: 'YYYY/MM/DD hh:mm:ss',
        //min: laydate.now(), //设定最小日期为当前日期
        max: '2099-06-16 23:59:59', //最大日期
        istime: true,
        istoday: false,
        choose: function(datas){
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas //将结束日的初始值设定为开始日
        }
    });

    $(function() {
        $('#doc-my-tabs').tabs();
    })

</script>
{% endblock %}
