{% extends '@adminModule/views/base.html' %}

{% block main %}
    <!-- content start -->
<div class="admin-content" >
    {% include '@adminModule/views/member/top.html' %}
    <div class="am-g">
        <div class="am-u-sm-12 am-u-md-2">
            <div class="am-form-group">
                <a href="{{ url('/admin/member/point', {'id': id, 'region': 0}) }}">全部</a>
                <a href="{{ url('/admin/member/point', {'id': id, 'region': 1}) }}">今天</a>
                <a href="{{ url('/admin/member/point', {'id': id, 'region': 2}) }}">本周</a>
                <a href="{{ url('/admin/member/point', {'id': id, 'region': 3}) }}">本月</a>
                <a href="{{ url('/admin/member/point', {'id': id, 'region': 4}) }}">近三个月</a>
            </div>
        </div>

        {{ html.beginForm('', 'get', {}) | raw }}
        <div class="am-u-sm-12 am-u-md-1">
            <div class="am-form-group" style="width: 100px">
                选择时间段：
            </div>
        </div>

        <div class="am-u-sm-6 am-u-md-2" style="width: 200px;">
            <div class="am-input-group am-input-group-sm">
                <input type="text" class="am-form-field" id="start" name="start_time" value="{{ condition.start_time }}"/>
            </div>
        </div>


        <div class="am-u-sm-6 am-u-md-2" style="float: left;">
            <div class="am-input-group am-input-group-sm">
                <input type="text" class="am-form-field" id="end" name="end_time" value="{{ condition.end_time }}"/>
                <span class="am-input-group-btn">
                    <button class="am-btn am-btn-default" type="submit">搜索</button>
                </span>
            </div>
        </div>
        {{ html.endForm() | raw }}
    </div>

    <div class="am-g">
        <div class="am-u-sm-12">
            <form class="am-form">
                <table class="am-table am-table-striped am-table-hover table-main">
                    <thead>
                    <tr>
                        <th>获得时间</th>
                        <th>福分</th>
                        <th>类型</th>
                        <th>详细描述</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for value in list %}
                        <tr>
                           <td>{{ value.created_at|date('Y-m-d H:i:s') }}</td>
                           <td>{{ value.point }}</td>
                           <td>{% if value.point>0 %}获得{% else %}支出{% endif %}</td>
                           <td>{{ value.desc }}</td>
                        </tr>
                       {% endfor %}

                    </tbody>
                </table>
                <div class="am-cf">
                    <p class="am-fl">共 {{ pagination.totalCount }} 条记录</p>
                    <div class="am-fr">
                        {{ use('/app/widgets/BackendLinkPager') }}
                        {{ backend_link_pager_widget({'pagination': pagination}) }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    <!-- content end -->
{% endblock %}

{% block script %}
<script src="{{ app.params.skinUrl }}/backend/js/laydate/laydate.js"></script>
<script type="text/javascript">
    var startDate = new Date();
    var endDate = new Date();
    laydate({
        elem: '#start',
        format: 'YYYY/MM/DD hh:mm:ss',
        //min: laydate.now(), //设定最小日期为当前日期
        max: '2099-06-16 23:59:59', //最大日期
        istime: true,
        istoday: false,
        choose: function(datas){
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas //将结束日的初始值设定为开始日
        }
    });
    laydate({
        elem: '#end',
        format: 'YYYY/MM/DD hh:mm:ss',
        //min: laydate.now(), //设定最小日期为当前日期
        max: '2099-06-16 23:59:59', //最大日期
        istime: true,
        istoday: false,
        choose: function(datas){
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas //将结束日的初始值设定为开始日
        }
    });

    $(function() {
        $('#doc-my-tabs').tabs();
    })

</script>
{% endblock %}
