<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>滴滴夺宝-1元夺宝官方众筹云购商城，1元购物天天抢！</title>
    <link rel="stylesheet" href="{{ app.params.skinUrl }}/dddb/css/jquery.fullPage.css">
    <link rel="stylesheet" href="{{ app.params.skinUrl }}/dddb/css/style.css">
    <link href="/favicon_dd.ico" type="image/x-icon" rel="shortcut icon">
    <script src="{{ app.params.skinUrl }}/dddb/js/jquery-1.8.3.min.js"></script>
    <script src="{{ app.params.skinUrl }}/dddb/js/jquery.fullPage.min.js"></script>
    <script src="{{ app.params.skinUrl }}/dddb/js/function.js"></script>
    <meta name="baidu-site-verification" content="OQlBx0zwTf"/>
    <meta name="keywords" content="一元云购,一元夺宝,1元夺宝,1元云购,云购商城,云购全球,一元抢宝"/>
    <meta name="description"
          content="滴滴夺宝官方1元夺宝商城，一种全新的众筹云购商城平台；滴滴夺宝以“让零钱发挥最大的价值”为宗旨，力求打造一个100%公平公正、100%正品保障、集娱乐与购物一体化的新型购物网站。"/>
</head>
<body>
<div class="fixtop"><div class="main">
    <a class="logo" href="{{ url(['/']) }}"><img src="{{ app.params.skinUrl }}/dddb/images/logo.png" /></a>
    <div class="rignav">
        <a  class="active" href="{{ url(['/']) }}">下载APP</a>
        <a  href="{{ url(['/ddhelp/default/wechat'])}}">关注微信</a>
        <a  href="{{ url(['/ddhelp/default/about']) }}">关于我们</a>
        <a  href="{{ url(['/ddhelp/default/contact'])}}">联系我们</a>
    </div>
    <div class="clear"></div>
</div></div>
<div class="scrolldiv">
    <div class="section section1">
        <div class="screen-main">
            <i class="sect1_tit showtit"></i>
            <i class="sect1_1" rel="0,-450,0,535,600"></i>
            <span class="sect1_2" rel="-160,350,125,350,800"></span>
            <span class="sect1_11" rel="260,220,250,400,800"></span>
            <span class="sect1_3" rel="120,80,175,330,1000"></span>
            <span class="sect1_4" rel="180,80,255,315,1200"></span>
            <span class="sect1_5" rel="50,0,100,220,1300"></span>
            <span class="sect1_6" rel="360,105,330,185,1500"></span>
            <span class="sect1_7" rel="125,10,185,180,1700"></span>
            <span class="sect1_8" rel="320,-100,320,10,1300"></span>
            <span class="sect1_9" rel="280,-120,220,50,1500"></span>
            <span class="sect1_10" rel="-40,-155,0,40,1700"></span>
        </div>
    </div>

    <div class="section section2">
        <div class="screen-main">
            <i class="sect2_tit showtit"></i>
            <i class="sect2_1" rel="-285,-100,50,25,900"></i>
            <i class="sect2_2" rel="400,1500,400,600,600"></i>
            <i class="sect2_3" rel="1280,1200,108,96,1000"></i>
        </div>
    </div>

    <div class="section section3">
        <div class="screen-main">
            <i class="sect3_tit showtit"></i>
            <i class="sect3_1" rel="-680,-450,0,290,400"></i>
            <i class="sect3_2" rel="120,1600,445,330,800"><em></em></i>
            <i class="sect3_3" rel="0,-500,0,20,200"></i>
            <i class="sect3_4" rel="0,-110,0,220,600"></i>
            <i class="sect3_5" rel="430,-590,165,200,900"></i>
            <i class="sect3_6" rel="450,-250,265,170,1200"></i>
            <i class="sect3_7" rel="-150,-600,0,130,800"></i>
            <i class="sect3_8" rel="380,-300,95,160,1000"></i>
            <i class="sect3_9" rel="-80,-800,220,150,1300"></i>
            <i class="sect3_10" rel="530,-590,120,70,1200"></i>
            <i class="sect3_11" rel="650,-500,325,95,1300"></i>
            <div class="gundongshu"></div>
            <e class="sect3_shou"></e>
        </div>
    </div>

    <div class="section section4">
        <div class="screen-main">
            <i class="sect4_tit showtit"></i>
            <span class="sect4_1" rel="-80,950,-110,205,400"></span>
            <span class="sect4_2" rel="-150,850,70,285,800"></span>
            <span class="sect4_3" rel="280,1000,235,350,1000"></span>
            <span class="sect4_4" rel="510,700,365,275,1200"></span>
        </div>
    </div>

    <div class="section bottombg  footer fp-auto-height fp-section">
        <div class="bot_top1">
            <div class="main">
                <div class="list list1">
                    <span>
                    <h3>100%公平公正</h3>
                    <p>参与过程公开透明，用户可随时查看</p>
                    </span>
                </div>
                <div class="list list2">
                    <span>
                    <h3>100%正品保证</h3>
                    <p>精心挑选优质产品，100%品牌正品</p>
                    </span>
                </div>
                <div class="list list3">
                    <span>
                    <h3>100%权益保障</h3>
                    <p>多重保障，让用户无忧夺宝</p>
                    </span>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="main">
            <div class="bot_top2">
                <div class="list"><span>滴滴夺宝官方1群 538905605</span></div>
                <div class="list" style="text-align:center;"><span>滴滴夺宝官方2群 124321562</span></div>
                <div class="list"><span class="ys2">客服热线：400-006-7060</span></div>
            </div>
            <div class="bot_bot">
                <p>
                    <a target="_blank" href="{{ url(['/']) }}">首页</a> |
                    <a target="_blank" href="{{ url(['/ddhelp/default/about']) }}">关于我们</a> |
                    <a target="_blank" href="{{ url(['/ddhelp/default/privacy']) }}">隐私声明</a> |
                    <a target="_blank" href="{{ url(['/ddhelp/default/help']) }}">帮助中心</a> |
                    <a target="_blank" href="{{ url(['/ddhelp/default/contact'])}}">联系我们</a>
                </p>
                <p>Copyright © 2016-2017 粤ICP备15095358号-3 深圳市橙果网络科技有限公司 版权所有</p>
            </div>
        </div>
    </div>

</div>


<div class="fixewm_down">
    <div class="fixwem"></div>
    <div id="fixdown">
        <p><a id="appStrore" target="_blank"
              href="https://itunes.apple.com/cn/app/di-di-duo-bao-1yuan-duo-bao/id1111437507?mt=8">IOS 版下载</a></p>
        <p><a id="android" target="_blank" href="http://down.cgyyg.com/down.php">Android 版下载</a></p>
    </div>
</div>
<span style="display: none">

    <script src="/js/tongji.js"></script>
</span>
</body>
</html>