{% extends '@weixinModule/views/base.html' %}

{% block title %}找回密码{% endblock %}

{% block css %}
<link href="{{ app.params.skinUrl }}/weixin/css/security.css" rel="stylesheet" type="text/css" />
  <link href="{{ app.params.skinUrl }}/weixin/css/comm.css?v=160328" rel="stylesheet" type="text/css" />
  <link href="{{ app.params.skinUrl }}/weixin/css/login.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js %}
  <script src="{{ app.params.skinUrl }}/weixin/js/findpassword.js" language="javascript" type="text/javascript"></script>
{% endblock %}

{% block body %}

   <!-- 内页顶部 -->
<div class="h5-1yyg-v11">
       <section>
        <div class="registerCon">
            <ul>
                <li><input id="userAccount" class="rText" type="text" placeholder="请输入手机号/邮箱" maxlength="50" /></li>

                <li><a href="javascript:void(0);" id="btnGetCode" class="nextBtn orgBtn">下一步</a></li>
                <!--发送中样式增加class（grayBtn）-->
                <li style="display:none"><a href="javascript:void(0);" id="btnSending" class="nextBtn orgBtn grayBtn">发送中</a></li>
            </ul>
        </div>
    </section>
    
    
     <section style="display: none;">
        <div class="registerCon">
            <ul>
                <li><input id="mobileCode" class="rText" type="text" placeholder="请输入验证码" class="rText" />
                    <s class="rs2"></s></li>
                <li><a id="btnSubmitVerify" href="javascript:;" class="nextBtn orgBtn">确认，下一步</a></li>
                <li style="font-size:12px;color: #999;">如未收到验证短信，请在150秒后点击重新发送。</li>


                <!--发送中样式增加class（grayBtn）-->
                <li><a id="retrySend" class="resendBtn" href="javascript:void(0);">重新发送</a></li>
            </ul>
        </div>
    </section>
    
    
    <section style="display: none;">
	        <div class="registerCon">
    	        <ul>
        	        <li>
        	            <input type="password" placeholder="8-20位字母,数字或符号两种或以上组合" class="rText" maxlength="20" id="txtPasswordObj" style="color:#666666">
        	            <input type="text" style="display:none" placeholder="8-20位字母,数字或符号两种或以上组合" maxlength="20" id="txtPasswordObj2">
        	        </li>
        	        <li><span class="noCheck" id="isCheck"><em></em>显示密码</span></li>
                    <li><a class="nextBtn  orgBtn" href="javascript:;" id="btnPostSet">下一步</a></li>
                    <li>密码由8-20位字母、数字或符号两种或以上组合</li>
                </ul>
                <input type="hidden" value="17097236451" id="hidUserName" name="hidUserName">
                <input type="hidden" value="xt2Qy9Dar2mlq7FkN4A6wr06thXHbydQc3zjt7kLORXdYkux8OPgoBI.0Hl5EGgz" id="hidKey" name="hidKey">
	        </div>
    </section>
    
    
</div>
{% endblock %}