@charset "utf-8";

body {
    background: #fafafa;
}

.accAndPwd i,.accAndPwd b,.registerCon li span em {
    background: url(../images/l_set.png);
    background-size: 20px auto;
}

a.loginBtn {
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
    margin-top: 20px;
}

a.orangeBtn {
    height: 43px;
    line-height: 43px;
    border-radius: 5px;
    font-size: 18px;
    display: block;
    text-align: center;
    background: #ef2828;
    letter-spacing: 2px;
}

.registerCon {
    padding: 15px;
    background: #fafafa;
    text-align: center;
}

.registerCon ul {
    clear: both;
    position: relative;
}

.registerCon li {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    font-size: 14px;
    color: #999;
    text-align: left;
    line-height: 22px;
}

.registerCon li dl {
    position: relative;
}

.registerCon li input {
    padding-left: 15px;
    width: 100%;
    height: 45px;
    border: 1px solid #dedede;
    border-radius: 5px;
    margin-top: -1px;
    font-size: 16px;
    -webkit-box-sizing: border-box;
}

.accAndPwd i,.accAndPwd b {
    position: absolute;
    left: 10px;
    top: 12px;
    height: 19px;
}

.accAndPwd i {
    background-position: 0 0;
    width: 19px;
}

.accAndPwd b {
    background-position: 0 -20px;
    width: 15px;
    margin-left: 3px;
}

.binSuccess5 {
    clear: both;
}

.binSuccess5 li input {
    width: 100%;
    height: 45px;
    padding: 10px 0 10px 35px;
    display: inline-block;
    border: 1px solid #dedede;
    border-radius: 5px;
    margin-top: -1px;
    font-size: 16px;
    box-sizing: border-box;
}

.binSuccess5 li input[type=text] {
    border-radius: 5px 5px 0 0;
}

.binSuccess5 li input[type=password] {
    border-radius: 0 0 5px 5px;
}

.registerCon li span {
    margin-right: 5px;
}

.registerCon li span em {
    float: left;
    background-repeat: no-repeat;
    background-position: 0 -40px;
    width: 20px;
    height: 19px;
    margin-right: 5px;
    position: relative;
    top: 1px;
}

.registerCon li span.noCheck em {
    border: 1px solid #bbb;
    border-radius: 3px;
    background: #fff;
    width: 18px;
    height: 17px;
}

.registerCon li a.resendBtn {
    display: block;
    width: 100%;
    height: 41px;
    line-height: 41px;
    text-align: center;
    color: #ef2828;
    background: #fff;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    margin-left: 0;
    font-size: 16px;
}

.registerCon li a.grayBtn {
    background: #ddd;
    border: 1px solid #bbb;
    color: #818181;
    height: 41px;
    line-height: 41px;
}

.oter_operation {
    clear: both;
    font-size: 14px;
    line-height: 25px;
    text-align: left;
    border-top: 1px solid #dedede;
    background: #fafafa;
    padding: 10px 15px 20px;
}

.oter_operation p {
    margin-bottom: 3px;
}

p.binTitle {
    float: left;
    color: #666;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}

.binSuccess2 {
    margin: 15px 0;
}

.binSuccess2 li.rSelect {
    margin-top: 30px;
}

.forget {
    clear: both;
    text-align: center;
    line-height: 23px;
    width: 200px;
    margin: 20px auto 0;
}

.forget b{
    display: inline-block;
    height: 12px;
    width: 1px;
    background: #ddd;
    margin: 0 20px;
    position: relative;
    top: 2px;
}

.forget a {
    display: inline-block;
    font-size: 14px;
    color: #999;
}

.binSuccess {
    color: #999;
    padding: 30px 0;
}

.binSuccess3 {
    color: #999;
    padding: 30px 0;
    display: inline-block;
}

.binSuccess3 em,.binSuccess i {
    display: inline-block;
    background-position: 0 -138px;
    width: 20px;
    height: 20px;
}

.binSuccess3 em {
    position: absolute;
}

.binSuccess3 .prompt {
    padding-left: 30px;
    text-align: left;
    line-height: 18px;
}

.binSuccess3 .prompt b {
    display: block;
    font-size: 18px;
    color: #666;
    margin-bottom: 6px;
}

.binSuccess3 .prompt span {
    display: inline-block;
}

.binSuccess dl {
    float: left;
    padding-left: 20px;
    position: relative;
    top: -20px;
}

.binSuccess dl dd {
    display: inline-block;
    text-align: left;
    line-height: 17px;
}

.binSuccess dd img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin-right: 13px;
    position: relative;
    top: 6px;
}

.binSuccess dd h4 {
    font-size: 14px;
}

.binSuccess span.grade {
    display: block;
    padding-left: 0;
}

.binSuccess span.grade s {
    display: inline-block;
    margin-right: 3px;
    position: relative;
    top: 2px;
}

.binSuccess .binBtn {
    clear: both;
    height: 45px;
    position: relative;
    top: 10px;
    -webkit-box-sizing: border-box;
    padding: 0 20px;
}

.binSuccess .binBtn a {
    width: 47%;
    height: 41px;
    line-height: 41px;
    border-radius: 5px;
    font-size: 18px;
}

.binSuccess .binBtn a.orangeBtn {
    border: 1px solid #ef2828;
}

.binSuccess .binBtn a.relieveBtn {
    border: 1px solid #ddd;
    background: #fff;
    color: #ef2828;
    letter-spacing: 2px;
}

.binSuccess p {
    font-size: 18px;
}

.binSuccess i {
    font-size: 18px;
    color: #666;
    position: relative;
    top: 4px;
    margin-right: 5px;
}

.binSuccess a.changeBtn {
    display: block;
    width: 50%;
    margin: 30px auto 0;
}

.getpwd input {
    padding-left: 15px;
    width: 100%;
    height: 45px;
    color: #ccc;
    border: 1px solid #dedede;
    border-radius: 5px;
    font-size: 16px;
    -webkit-box-sizing: border-box;
}

.getpwd a {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.getpwd span {
    display: block;
}

.getpwd li {
    margin-bottom: 10px;
    font-size: 14px;
    color: #999;
    text-align: left;
    line-height: 22px;
}

.terms {
    padding: 5px 10px 20px;
    text-align: left;
    color: #555;
    font-size: 14px;
    line-height: 22px;
    display: inline-block;
}

.terms b {
    display: block;
    font-weight: bold;
    margin-top: 13px;
    font-size: 16px;
}

.terms p {
    text-align: justify;
    text-justify: inter-ideograph;
}

.terms p.p1 {
    text-indent: 2em;
    margin: 5px 0;
}

.terms p.p2 {
    text-indent: -1.3em;
    padding-left: 38px;
}


.accAndPwd .i-icon-remove
{
    width: 16px;
   height: 16px;
   background-position: -26px -140px;
  background-image: url(../images/vip_icon.png?2016);
  background-size: 225px;
  
  position: absolute;
  right: 10px;
  top: 12px;
  height: 19px;
}
