{% extends '@app/views/base.html' %}

{% block keywords %}{% endblock %}
{% block description %}{% endblock %}

{% block title %}身份验证_伙购网{% endblock %}

{% block body %}

{% include '@app/views/topbar.html' %}

{% include '@app/views/nav.html' %}

<section class="member">
    <div class="wrap clear">
        {% include '@memberModule/views/info/header.html' %}
        <div class="wrap_con">
            {% include '@memberModule/views/info/sidebar.html' %}
            <div class="wrap_con_box">
                <div class="individual-title">
                    <h3>身份验证</h3>
                    <a href="javascript:history.back()">&lt;&lt; 返回</a>
                </div>
                <div class="individual-note">
                    <i></i><span>为了加强账户安全，绑定邮箱前需验证当前绑定的手机，验证通过后才可绑定邮箱。</span>
                </div>
                <div class="verify">
                    <p>您当前绑定的手机号：{{ phone }}</p>
                    <div>
                        <em>验证码：</em><input type="text" id="code"><a class="verify-yz" href="javascript:void(0)" id="getCode">获取验证码</a>
                    </div>
                    <input type="hidden" value="1" id="flag">
                    <input type="hidden" value="checkphone" id="type">
                    <input class="verify-submit" type="submit" value="下一步" id="btnValid">
                </div>
            </div>
        </div>
    </div>
</section>


{% include '@app/views/footer.html' %}

{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ app.params.skinUrl }}/js/member_info.js"></script>
<script>
    document.onkeydown=function(event){
        var e = event || window.event || arguments.callee.caller.arguments[0];
        if(e && e.keyCode==13){ // enter 键
            if (e.srcElement.id=='code')
                $('#btnValid').click();
        }
    };

    if ($.cookie('SEND_CODE_6') == 1) {
        $('#getCode').addClass('verification_gray').attr("t",60).text('重新发送(60)');
        var j =setInterval(function(){
            var t = parseInt($('#getCode').attr("t")-1);
            if (t <= 0) {
                clearInterval(j);
                $('#getCode').attr("t",t).text('获取验证码').removeClass('verification_gray');
            }else{
                $('#getCode').attr("t",t).text('重新发送('+t+')');
            }
        },1000);
    }
</script>
{% endblock %}