{% extends '@app/views/base.html' %}

{% block keywords %}{% endblock %}
{% block description %}{% endblock %}

{% block title %}绑定邮箱完成_伙购网{% endblock %}

{% block body %}

{% include '@app/views/topbar.html' %}

{% include '@app/views/nav.html' %}

<section class="member">
    <div class="wrap clear">
        {% include '@memberModule/views/info/header.html' %}
        <div class="wrap_con">
            {% include '@memberModule/views/info/sidebar.html' %}
            <div class="wrap_con_box">
                <div class="email-complete">
                    <h3>恭喜您，绑定邮箱成功</h3>
                    <h4>没有收到邮件？</h4>
                    <p>1.请检查您的垃圾箱或广告箱，邮件有可能被误认为垃圾或广告邮件；</p>
                    <p>2.若您的邮箱已过期或忘记密码无法登录，请拨打客服电话 400-000-5000 申诉更换验证邮箱。</p>
                </div>
            </div>
        </div>
    </div>
</section>


{% include '@app/views/footer.html' %}



{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ app.params.skinUrl }}/js/member_info.js"></script>
{% endblock %}