@charset "utf-8";

.pur-page-wrap {
    background: #24cba8;
}

.pur-rule-txt {
    background: #24cba8;
    text-align: center;
    font-size: 12px;
    color: #fff;
    height: 26px;
    line-height: 26px;
}

.purchase-banner-wrap {
    max-width: 640px;
    margin: 0 auto;
}

.purchase-banner-wrap img {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

.purchase-main {
    padding: 3px 10px 50px 10px;
}

.purchase-people {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
}

.purchase-ul {
    width: 90%;
    margin: 0 auto;
}

.purchase-title {
    width: 100%;
    height: 30px;
    color: #666;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    font-size: 12px;
}

.purchase-title span {
    color: #666;
}

.purchase-title .num {
    color: #666;
}

.purchase-title .special {
    color: #ff5959;
    text-decoration: none;
    padding: 1px;
}

.clearfix::before,.clearfix::after {
    content: '';
    line-height: 0;
    display: table;
}

.purchase-shoping {
    margin-top: 10px;
}

.purchase-list>li {
    float: left;
    width: 50%;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-right: solid 5px #24cba8;
}

.purchase-list>li:nth-of-type(2n+0) {
    border-right: none;
    border-left: solid 5px #24cba8;
}

.purchase-list .product-wrap {
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
}

.purchase-list .product-price {
    border-top: 1px solid #e5e5e5;
    padding: 0 6px;
}

.purchase-list .product-price .pri {
    display: block;
    color: #999;
    line-height: 25px;
}

.purchase-list .product-price .p-num {
    text-decoration: none;
}

.purchase-list .product-price .p-num::before {
    content: "￥";
    font-size: 12px;
}

.purchase-list .product-wrap .flag {
    display: block;
    height: 19px;
    margin-left: 5px;
    line-height: 20px;
    position: relative;
    background-color: #2af;
    color: #fff;
    padding: 0 3px;
    border-radius: 2px;
    position: absolute;
    top: 138px;
    right: 3px;
}

.purchase-list .product-wrap .flag::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-width: 5px 10px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #2af;
    position: absolute;
    bottom: 0;
    left: -5px;
}

.purchase-list .product-img {
    width: 136px;
    margin: 0 auto;
    padding: 10px 0;
}

.purchase-list .Pro-bar-wrap {
    padding: 0 6px 6px;
}

.purchase-list .buy-wrap {
    margin-top: 5px;
}

.purchase-list .buy-btn {
    display: block;
    float: left;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #ff5959;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
}

.purchase-list .shopcar-btn {
    float: right;
    display: block;
    margin-top: -1px;
}