@charset "utf-8";

input:-moz-placeholder {
    color: #ccc;
}

::-webkit-input-placeholder {
    color: #ccc;
}

.registerCon li s {
    background: url(../Images/loginSet.png?v=130723);
    background-size: 20px auto;
}

.registerCon {
    width: 100%;
    background: #f4f4f4;
    text-align: center;
    padding-bottom: 30px;
    min-height: 190px;
    overflow: hidden;
}

.registerCon ul {
    clear: both;
    padding: 20px;
    position: relative;
}

.registerCon li {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    font-size: 14px;
    color: #999;
    text-align: left;
    line-height: 22px;
}

.registerCon li input {
    width: 100%;
    height: 45px;
    background: #fff;
    border: 1px solid #ddd;
    color: #ccc;
    border-radius: 5px;
    padding: 0 5px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    position: relative;
    font-size: 16px;
}

.registerCon li input.rText {
    padding-left: 30px;
}

.registerCon li s {
    float: left;
    background-repeat: no-repeat;
    height: 19px;
    position: absolute;
    left: 10px;
    top: 13px;
}

.registerCon li s.rs1 {
    background-position: 0 0;
    width: 13px;
}

.registerCon li s.rs2 {
    background-position: 0 -25px;
    width: 18px;
}

.registerCon li s.rs3 {
    background-position: 0 -50px;
    width: 15px;
    height: 20px;
    margin-left: 2px;
}

.registerCon li s.rs4 {
    background-position: 0 -76px;
    width: 20px;
    top: 10px;
}

.registerCon li a {
    color: #2af;
    margin-left: 5px;
}

.registerCon li a.nextBtn {
    margin-left: 0;
}

.registerCon li span em {
    float: left;
    background-repeat: no-repeat;
    background-position: 0 -6px;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.registerCon li span.noCheck em {
    border: 1px solid #bbb;
    border-radius: 3px;
    background: #fff;
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    margin-right: 7px;
}

.registerCon li a.resendBtn {
    display: block;
    width: 100%;
    height: 33px;
    line-height: 33px;
    text-align: center;
    color: #f60;
    background: #fff;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    margin-left: 0;
    font-size: 16px;
    box-shadow: 1px 1px 2px #e0e0e0;
}

.registerCon li a.grayBtn {
    background: #ddd;
    border: 1px solid #bbb;
    color: #818181;
}

.registerCon li.accAndPwd {
    height: 80px;
}

.registerCon li.accAndPwd dl {
    position: relative;
}

.registerCon li.accAndPwd input {
    width: 100%;
    height: 40px;
    background: #fff;
    border: 1px solid #ddd;
    color: #ccc;
    padding: 9px 5px 8px 30px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    position: relative;
    font-size: 16px;
}

.registerCon li.accAndPwd input.lEmail {
    border-radius: 5px 5px 0 0;
}

.registerCon li.accAndPwd input.lPwd {
    border-radius: 0 0 5px 5px;
    border-top: 0 none;
}

.registerCon li.accAndPwd s.rs3 {
    top: 10px;
}

.registerCon li.rSelect {
    height: 20px;
    line-height: 20px;
    width: 200px;
    margin: 20px auto 0;
}

.registerCon li.rSelect a {
    color: #999;
}

.registerCon li.rSelect b {
    display: inline-block;
    height: 12px;
    width: 1px;
    background: #ddd;
    margin: 0 20px;
    position: relative;
    top: 2px;
}

.terms {
    padding: 5px 10px 20px;
    text-align: left;
    color: #555;
    font-size: 14px;
    line-height: 22px;
    display: inline-block;
}

.terms b {
    display: block;
    font-weight: bold;
    margin-top: 13px;
    font-size: 16px;
}

.terms p {
    text-align: justify;
    text-justify: inter-ideograph;
}

.terms p.p1 {
    text-indent: 2em;
    margin: 5px 0;
}

.terms p.p2 {
    text-indent: -1.3em;
    padding-left: 38px;
}

p.binTitle {
    float: left;
    color: #666;
    font-size: 16px;
    margin-top: 20px;
    padding-left: 20px;
}

.binSuccess2 ul {
    padding: 10px 20px 30px;
}

.binSuccess2 li.rSelect {
    margin-top: 30px;
}

.binText {
    clear: both;
    text-align: left;
    line-height: 25px;
    color: #999;
    border-top: #ddd 1px solid;
    padding: 20px 0 0 20px;
    font-size: 14px;
}

.binSuccess {
    color: #999;
    padding: 50px 0;
}

.binSuccess3 {
    color: #999;
    padding: 50px 0;
    display: inline-block;
}

.binSuccess3 em,.binSuccess i {
    display: inline-block;
    background-position: 0 -28px;
    width: 22px;
    height: 22px;
}

.binSuccess3 .prompt {
    margin-left: 30px;
    text-align: left;
    line-height: 18px;
}

.binSuccess3 .prompt b {
    display: block;
    font-size: 18px;
    color: #666;
    margin-bottom: 6px;
}

.binSuccess3 .prompt span {
    display: inline-block;
}

.binSuccess dl {
    float: left;
    padding-left: 20px;
    position: relative;
    top: -20px;
}

.binSuccess dl dd {
    display: inline-block;
    text-align: left;
    line-height: 18px;
}

.binSuccess dd img {
    border-radius: 3px;
    width: 48px;
    height: 48px;
    margin-right: 4px;
    position: relative;
    top: 2px;
}

.binSuccess dd h4 {
    font-size: 14px;
}

.binSuccess span.grade {
    display: block;
    padding-left: 0;
}

.binSuccess span.grade s {
    display: inline-block;
    margin-right: 3px;
    position: relative;
    top: 2px;
}

.binSuccess .binBtn {
    clear: both;
    height: 45px;
    position: relative;
    top: 10px;
    -webkit-box-sizing: border-box;
    padding: 0 20px;
}

.binSuccess .binBtn a {
    width: 47%;
    height: 43px;
    line-height: 43px;
    border-radius: 5px;
    font-size: 18px;
}

.binSuccess .binBtn a.relieveBtn {
    border: 1px solid #ddd;
    background: #fff;
    color: #f60;
}

.binSuccess p {
    font-size: 18px;
}

.binSuccess i {
    font-size: 18px;
    color: #666;
    position: relative;
    top: 5px;
    margin-right: 5px;
}

.binSuccess a.changeBtn {
    width: 50%;
    margin: 30px auto 0;
}