@charset "utf-8";

.u-Cart-r a.z-del s,.other_pay s,.other_pay i,.g-pay-auto s,.g-pay-auto i {
    background: url(../images/c_set.png);
    background-size: 25px auto;
}

.wrapper em {
    margin: 0 3px;
    font-family: Arial,Helvetica,sans-serif;
}

.m-round {
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    background: #fff;
}

.g-Cart-list {
    width: 100%;
}

.g-Cart-list li {
    clear: both;
    padding: 10px;
    border-bottom: 1px solid #dedede;
}

.g-Cart-list li:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
}

.g-Cart-list .u-Cart-img {
    display: block;
    padding: 5px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

.g-Cart-list .u-Cart-img img {
    display: block;
    width: 50px;
}

.g-Cart-list .u-Cart-r {
    margin-left: 70px;
    position: relative;
}

.u-Cart-r a.gray6 {
    display: block;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    font-size: 14px;
}

.u-Cart-r span {
    display: block;
    margin: 3px 0;
}

.u-Cart-r input {
    border: 1px solid #dedede;
    border-radius: 3px;
    background: #fff;
    width: 60px;
    height: 22px;
    line-height: 22px;
    padding: 0 3px;
    text-align: center;
}

.u-Cart-r a.z-del {
    display: block;
    padding: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.u-Cart-r a.z-del s {
    display: block;
    background-position: 0 -18px;
    width: 15px;
    height: 17px;
}

.u-Cart-r a.z-del:hover s {
    background-position: 0 0;
}

.g-Total-bt {
    clear: both;
    width: 100%;
    line-height: 30px;
    font-size: 14px;
    background: #f7f7f7;
    position: absolute;
    position: fixed;
    bottom: 0;
    display: inline-block;
}

.g-Total-bt span {
    margin-right: 10px;
}

.g-Total-bt a {
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 5px;
    margin: 8px 0;
}

.g-Total-bt a.account {
    display: block;
    width: 85px;
}

.g-Total-bt a.grayBtn {
    background: #bbb;
}

.g-Total-bt dt,.g-Total-bt dd {
    border-top: 1px solid #dedede;
    padding: 0 10px;
}

.g-Total-bt dt {
    background: #fafafa;
}

.g-Total-bt dd {
    background: #f7f7f7;
}

.g-pay-lst {
    position: relative;
}

.g-pay-lst li {
    clear: both;
    border-bottom: 1px solid #dedede;
}

.g-pay-lst li a {
    display: block;
    padding: 8px 10px;
}

.g-pay-lst a:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
}

.g-pay-lst span {
    float: left;
    padding: 5px;
    border: 1px solid #dedede;
    border-radius: 3px;
}

.g-pay-lst span img {
    width: 27px;
    height: 27px;
    display: block;
}

.g-pay-lst dl {
    margin-left: 49px;
}

.g-pay-lst a dt {
    color: #666;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    font-size: 14px;
}

.g-pay-lst a dd {
    margin-top: 5px;
    color: #999;
}

.g-pay-lst a.pay_open {
    width: 100%;
    display: block;
    border-bottom: 1px solid #dedede;
    height: 38px;
    text-align: center;
    background: #fff;
}

.g-pay-lst a.pay_open s {
    display: block;
    width: 13px;
    height: 7px;
    background-position: 0 -205px;
    margin: 0 auto;
    position: relative;
    top: 16px;
}

.g-pay-lst a.pay_pack {
    border-top: 1px solid #f3f3f3;
    position: absolute;
    top: 195px;
    opacity: 0.9;
}

.g-pay-lst a.pay_pack s {
    background-position: 0 -197px;
}

.g-pay-lst p {
    margin-top: 20px;
    text-align: right;
    padding: 0 10px;
    font-size: 16px;
}

.g-pay-lst cite {
    display: block;
    margin: 5px 10px 0;
    padding: 3px;
    background: #ffc;
    border: 1px solid #fc6;
    color: #f60;
}

.other_pay {
    clear: both;
    margin-top: 10px;
    padding: 0 10px;
}

.other_pay a {
    display: block;
    border: 1px solid #dedede;
    padding: 10px 0;
    min-height: 23px;
    line-height: 20px;
    border-radius: 3px;
    color: #666;
    text-align: left;
    padding-left: 38px;
    position: relative;
    margin-top: -1px;
    font-size: 14px;
}

.other_pay s,.other_pay i {
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 11px;
    left: 10px;
}

.other_pay i {
    background-position: 0 -39px;
}

.other_pay a.checked i {
    background-position: 0 -59px;
}

.other_pay span {
    display: block;
    font-size: 12px;
}

.other_pay a.wzf {
    margin-top: 10px;
}

.other_pay em {
    margin: 0;
}

.g-pay-lst em i,.other_pay em b {
    font-family: "微软雅黑";
}

.other_pay a:nth-child(6n-5) {
    border-radius: 3px 3px 0 0;
}

.other_pay a:nth-child(3n-1) {
    border-radius: 0 0 3px 3px;
}

.other_pay a:nth-child(5n-2) {
    border-radius: 3px 3px 0 0;
}

.other_pay a:nth-child(6n-2) {
    border-radius: 0;
}

.g-Total-bt a.w_account {
    display: block;
    width: 100%;
}

.g-pay-success {
    padding: 0 10px;
}

.g-pay-auto {
    clear: both;
    width: 100%;
    display: block;
    margin: 20px auto;
    text-align: center;
    font-family: "微软雅黑";
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.g-pay-auto s,.g-pay-auto i {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 4px;
}

.g-pay-auto s {
    background-position: 0 -78px;
}

.g-pay-auto i {
    background-position: 0 -99px;
}

.z-pay-tips s {
    position: relative;
    top: 5px;
}

.z-pay-tips span {
    display: block;
    color: #bbb;
    font-size: 12px;
    font-weight: normal;
    padding-left: 25px;
    margin-top: 3px;
}

.m_btn {
    clear: both;
    width: 100%;
    display: inline-block;
}

.m_btn a {
    width: 47%;
    height: 29px;
    line-height: 29px;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
}

.m_btn a.wihteBtn {
    border: 1px solid #dedede;
    line-height: 29px!important;
}

.m_btn a.orangeBtn {
    border: 1px solid #f60;
}

.g-pay-successC {
    clear: both;
    margin-top: 15px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.g-pay-successC ul {
    overflow: hidden;
}

.g-pay-successC li {
    border-top: 1px solid #dedede;
    line-height: 25px;
    height: 45px;
    font-size: 14px;
    padding: 5px 100px 5px 10px;
    margin-top: -1px;
    overflow: hidden;
    position: relative;
}

.g-pay-successC li p {
    line-height: 20px;
    color: #ccc;
}

.g-pay-successC li span {
    display: inline-block;
    color: #bbb;
    position: absolute;
    right: 0;
    bottom: 5px;
    padding: 0 10px 0 15px;
}

.g-pay-successC span b {
    float: right;
    display: block;
    width: 7px;
    height: 13px;
    background-position: 0 -182px;
    margin-top: 7px;
    margin-left: 5px;
}

.g-pay-failure-tt {
    text-align: center;
    height: 12px;
    margin-top: 22px;
    position: relative;
    z-index: 2;
}

.g-pay-failure-tt s {
    border-top: 1px solid #ddd;
    text-align: center;
    height: 1px;
    overflow: hidden;
    z-index: 3;
    margin: auto 10px;
    display: block;
}

.g-pay-failure-tt b {
    display: inline-block;
    background: #fff;
    padding: 3px 10px;
    position: relative;
    top: -13px;
    z-index: 3;
}

.empty {
    text-align: center;
    font-size: 18px;
    padding: 50px 0;
    color: #999;
}

.empty s {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background: url(http://mskin.1yyg.com/weixin/MyCart/Images/y7.png) no-repeat;
    background-size: 100px auto;
    margin-bottom: 20px;
}

.empty p {
    margin: 10px 0;
    font-size: 14px;
}

.empty a {
    display: block;
    width: 50%;
    margin: 0 auto;
    height: 35px;
    line-height: 35px;
}

.Submitting {
    width: 100%;
    text-align: center;
    color: #999;
    font-size: 14px;
    padding: 50px 0;
}

.paymainbox {
    background: #f4f4f4;
    text-align: center;
    overflow: hidden;
    zoom: 1;
}

.paymainbox .loading {
    border-top: none;
    box-shadow: none;
    margin-top: 70px;
}

.paymainbox embed,.paymainbox a {
    margin-top: 30px;
    display: inline-block;
    margin: 70px auto 0 auto;
}

.g-Cart-list .u-Cart-img .pPurchase {
    background-color: #24cba8;
}

.g-Cart-list .u-Cart-img .pTitle {
    width: 70px;
    height: 14px;
    padding-top: 2px;
    -webkit-transform: rotate(-45deg);
    text-align: center;
    position: absolute;
    left: -24px;
    top: 3px;
    color: #fff;
    font-size: 10px;
}

.wrapper .purchase-icon {
    display: inline-block;
    background-color: #24cba8;
    color: #fff;
    font-size: 12px;
    padding: 0 4px;
    line-height: 18px;
    height: 18px;
    margin-right: 3px;
    vertical-align: middle;
}

.pop-pay-pwd {
    padding: 15px 0 5px;
    background: #fff;
    text-align: center;
}

.pop-pay-pwd dl {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.pop-pay-pwd dt {
    font-size: 14px;
    padding-bottom: 15px;
}

.pop-pay-pwd dd {
    clear: both;
    font-size: 14px;
    display: -webkit-box;
    margin-left: 1px;
}

.pop-pay-pwd span {
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    font-size: 18px;
    border: 1px solid #bcbcbc;
    margin-left: -1px;
    background: #fff;
    display: block;
    -webkit-box-flex: 1;
}

.pop-pay-pwd em {
    display: block;
    width: 30px;
    margin: 0 auto;
}

.pop-pay-pwd p {
    padding-top: 15px;
}

.pop-pay-pwd ul {
    clear: both;
    width: 90%;
    margin: 0 auto;
    padding-top: 15px;
    overflow: hidden;
}

.pop-pay-pwd li {
    float: left;
    margin: 5px 0;
    width: 33.3%;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
}

.pop-pay-pwd li:nth-of-type(3n+0) {
    padding-right: 0;
    width: 33.4%;
}

.pop-pay-pwd li a {
    display: block;
    border: 1px solid #dbdbdb;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #666;
}

.pop-pay-pwd li.enter a {
    background: #f2f2f2;
}