@charset "utf-8";

.revCon {
    width: 100%;
    overflow: hidden;
}

.revCon ul {
    clear: both;
    padding: 15px 5px 15px 10px;
    border-bottom: 1px solid #dedede;
}

.revCon ul:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
}

.revCon li.revConL {
    float: left;
    display: block;
    border: 1px solid #e5e5e5;
    padding: 5px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

.revCon li.revConL img {
    width: 65px;
    height: 65px;
    overflow: hidden;
    display: block;
}

.revCon li.revConL .z-limit-tips {
    width: 28px;
    font-size: 10px;
    padding-top: 2px;
    height: 28px;
    line-height: 10px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    background-position: -52px -167px;
    display: inline-block;
    text-align: center;
}

.revCon li h4 {
    color: #666;
    font-size: 18px;
    line-height: 18px;
    display: block;
    font-size: 14px;
}

.revCon li h5 {
    line-height: 25px;
    display: block;
    font-weight: normal;
}

.revCon li p {
    padding: 0 12px 0 9px;
    height: 23px;
    line-height: 23px;
    background: #f60;
    border-radius: 3px;
    color: #fff;
    border: 1px solid #f60;
    display: inline-block;
}

.revCon li s {
    background: url(http://mskin.1yyg.com/DataServer/images/clock.gif?v=130815);
    background-size: 14px auto;
    width: 14px;
    height: 14px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin: 0 5px;
}

.revCon li.revConR {
    margin-left: 87px;
    color: #999;
    line-height: 18px;
    position: relative;
}

.revCon li.revConR dt a {
    display: block;
    color: #666;
    font-size: 14px;
    max-height: 36px;
    overflow: hidden;
    margin-bottom: 3px;
}

.revCon li.revConR dd.winner {
    font-size: 13px;
}

.revCon li.revConR dd em {
    margin-right: 3px;
}

.revCon li.revConR dd.jx_time {
    white-space: nowrap;
}

.revCon li.revConR b {
    border-width: 2px 2px 0 0;
    position: absolute;
    right: -5px;
    top: 35px;
}

.revCon ul.rNow {
    border: 2px solid #f60;
    overflow: hidden;
    position: relative;
}

.revCon ul.rNow:nth-child(1n-1) {
    border-top: 0 none;
}

.revCon ul.rFirst {
    border-top: 2px solid #f60!important;
}

.revCon ul.rNow .rNowTitle {
    background: #f60;
    color: #fff;
    font-size: 12px;
    width: 90px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    -webkit-transform: rotate(-45deg);
    position: absolute;
    left: -27px;
    top: 7px;
}

.revCon ul.rNow h4 {
    max-height: 35px;
    overflow: hidden;
}

.calCon {
    width: 100%;
    margin-bottom: 77px;
}

.calCon dl {
    clear: both;
    line-height: 34px;
}

.calCon dd {
    height: 34px;
    font-size: 10px;
    font-size: 11px;
}

.calCon span {
    width: 25%;
    height: 34px;
    display: block;
    float: left;
    text-align: center;
}

.calCon dd span:nth-child(5n-1) {
    width: 24%;
    padding-left: 1%;
    height: 34px;
    overflow: hidden;
    text-align: left;
}

.calCon .dl1,.calCon .dl3 {
    color: #999;
}

.calCon .dl1 dt {
    background: #f7f7f7;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
}

.calCon .dl1 dt span:nth-child(5n-4) {
    text-indent: -1em;
}

.calCon .dl1 dt span:nth-child(5n-1) {
    text-align: left;
    width: 24%;
    padding-left: 1%;
}

.calCon .dl1 dd {
    border-top: 1px solid #dedede;
}

.calCon .dl2 {
    color: #666;
    background: #fffcda;
}

.calCon .dl2 dt {
    font-size: 12px;
    background: #f60;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    line-height: 18px;
    word-wrap: break-word;
}

.calCon .dl2 em {
    white-space: nowrap;
    word-break: keep-all;
}

.calCon .dl2 dd {
    border-bottom: 1px solid #ffe197;
}

.calCon .dl2 span {
    position: relative;
}

.calCon .dl2 span:nth-child(4n-1) {
    color: #f60;
}

.calCon .dl2 span:nth-child(2n-1) b {
    width: 1px;
    height: 34px;
    background: #ffe197;
    float: right;
}

.calCon .dl2 span:nth-child(3n-1) s,.calCon .dl2 span:nth-child(4n-1) s {
    width: 1px;
    height: 35px;
    background: #F60;
    position: absolute;
    top: 0;
    right: 0;
}

.calCon .dl2 i {
    border-style: solid;
    border-width: 4px 0 4px;
    border-color: transparent;
    border-left: 4px solid rgb(255,102,0);
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 13px;
    left: 0;
}

.calCon .dl2 i em {
    border-style: solid;
    _border-style: dashed;
    border-width: 4px;
    border-color: transparent;
    border-left-width: 0;
    border-left: 4px solid #fffcda;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: -4px;
    left: -5px;
}

.calCon .dl3 dt {
    font-size: 12px;
    background: #f60;
    padding: 15px;
    color: #fff;
    line-height: 18px;
    position: relative;
}

.calCon .dl3 dd {
    border-bottom: 1px solid #dedede;
}

.calCon .dl3 i {
    border-style: solid;
    border-width: 0 5px 5px;
    border-color: transparent;
    border-bottom: 5px solid rgb(255,102,0);
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: -5px;
    left: 61.8%;
}

.pPurchase {
    width: 70px;
    height: 16px;
    -webkit-transform: rotate(-45deg);
    text-align: center;
    position: absolute;
    left: -24px;
    top: 3px;
    color: #fff;
    font-size: 10px;
    background-color: #24cba8;
}