@charset "utf-8";

.mainCon {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.mBanner {
    background: #049 url(../images/home_01.jpg) right top no-repeat;
    background-size: 320px auto;
}

.mBanner ul {
    height: 53px;
    margin: 0 auto;
    padding: 16px 10px;
}

.mBanner li.mUserHead {
    width: 48px;
    height: 48px!important;
    margin-right: 8px;
    border-radius: 48px;
    border: 3px solid #fff;
    overflow: hidden;
}

.mBanner li.mUserHead img {
    width: 48px;
    height: 48px;
    border-radius: 48px;
}

.mBanner li.mUserInfo {
    margin-left: 60px;
    position: relative;
    top: -55px;
    color: #fefefe;
    font-size: 12px;
    line-height: 16px;
}

.mBanner li p {
    font-size: 16px;
    word-wrap: break-word;
    margin-right: 3px;
    display: inline-block;
}

.mBanner li b {
    color: #fff;
    display: inline-block;
}

.mBanner li span {
    color: #fefefe;
    margin-left: 10px;
}

.g-snav {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #f7f7f7;
    font-size: 14px;
    overflow: hidden;
}

.g-snav .g-snav-lst {
    display: block;
    text-align: center;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    overflow: hidden;
}

.g-snav .g-snav-lst a {
    display: block;
    color: #666;
    border-left: 1px solid #fff;
    border-top: 0 none;
    margin-bottom: 10px;
}

.g-snav a em {
    font-size: 12px;
    margin-left: 5px;
}

.g-snav span.mCurr {
    background: #fff;
    border-bottom: 2px solid #f60;
}

.g-snav span.mCurr a {
    color: #f60;
}

.mBuyRecord {
    clear: both;
    width: 100%;
    background: #fff;
    overflow: hidden;
}

.mBuyRecord ul {
    padding: 10px 8px;
    border-bottom: #eee 1px solid;
    position: relative;
}

.mBuyRecord ul:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
}

.mBuyRecord li.mBuyRecordL {
    float: left;
    width: 70px;
    border: 1px solid #dedede;
    padding: 5px;
    border-radius: 3px;
}

.mBuyRecord li img {
    width: 70px;
    height: 70px;
    display: block;
    overflow: hidden;
}

.mBuyRecord li.mBuyRecordR {
    position: relative;
    margin-left: 92px;
    color: #666;
    line-height: 18px;
    text-align: left;
}

.mBuyRecord li.mBuyRecordR a {
    color: #666;
}

.mBuyRecord li.mBuyRecordR p.mValue {
    color: #999;
}

.mBuyRecord li.mBuyRecordR span {
    color: #999;
}

.mBuyRecord li.mBuyRecordR span i {
    font-size: 11px;
}

.mBuyRecord .mBuyRecordR .pRate {
    height: 42px;
    margin-top: 10px;
    position: relative;
}

.mBuyRecord .Progress-bar ul {
    padding: 0;
    width: 100%;
    border: 0 none;
    margin: 0;
}

.mBuyRecord .Progress-bar .Pro-bar-li li em {
    padding: 0;
}

.mSingle {
    color: #666;
    font-size: 14px;
    overflow: hidden;
}

.mSingle li {
    border-bottom: 1px solid #eee;
}

.mSingle li a {
    display: block;
    padding: 15px 10px;
}

.mSingle li a p {
    color: #999;
    overflow: hidden;
    margin-bottom: 5px;
}

.mSingle h3 {
    margin-bottom: 5px;
}

.mSingle a h3 b {
    font-size: 14px;
    margin-right: 5px;
    color: #666;
}

.mSingle a h3 em {
    font-style: normal;
    color: #bbb;
    font-size: 10px;
    display: inline-block;
    word-break: keep-all;
    white-space: nowrap;
}

.mSingle dl {
    margin-left: -5px;
    height: 85px;
    overflow: hidden;
}

.mSingle img {
    height: 80px;
    margin: 3px;
}