{% extends '@weixinModule/views/base.html' %}

{% block title %}编辑收货地址{% endblock %}

{% block css %}
<link href="{{ app.params.skinUrl }}/weixin/css/member.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js %}
<script src="{{ app.params.skinUrl }}/weixin/js/addressedit.js" language="javascript" type="text/javascript"></script>
{% endblock %}

{% block body %}
<input type="hidden" id="hidAddressId" value="{{addressId}}">
<input type="hidden" id="hidDefaultAddress" value="0">
<div class="wrapper">
    <div class="g-member">
        <div class="m-address-form">
            <ul>
                <li>
                    <dl>
                        <dt>
                            收货人
                        </dt>
                        <dd>
                            <input id="txtUserName" type="text" maxlength="5" class="z-input" placeholder="为方便配送,请填写真实姓名" />
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            联系电话
                        </dt>
                        <dd>
                            <input id="txtMobile" type="text" class="z-input" placeholder="联系电话" />
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            省份
                        </dt>
                        <dd>
                            <select id="selAreaA" class="z-select"> <option value="-1">请选择所在省份</option> </select>
                            <b class="z-arrow"></b>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            城市
                        </dt>
                        <dd>
                            <select id="selAreaB" class="z-select"> <option value="-1">请选择所在城市</option> </select>
                            <b class="z-arrow"></b>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            地区
                        </dt>
                        <dd>
                            <select id="selAreaC" class="z-select"> <option value="-1">请选择所在地区</option> </select>
                            <b class="z-arrow"></b>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            详细地址
                        </dt>
                        <dd>
                            <textarea id="txtAddr" name="comment" rows="3" class="z-textarea" placeholder="详细地址必须为3-100字之间,不包含特殊字符"></textarea>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            邮政编码
                        </dt>
                        <dd>
                            <input id="txtZip" type="text" class="z-input" maxlength="6" placeholder="邮政编码" />
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt></dt>
                        <dd>
                            <b id="spDefult"><span class=""></span>设为默认</b>
                        </dd>
                    </dl>
                </li>
            </ul>
            <div class="u-Btn">
                <div class="u-Btn-li">
                    <a href="javascript:;" id="btnCancel" class="z-CloseBtn">取 消</a>
                </div>
                <div class="u-Btn-li">
                    <a href="javascript:;" id="btnSure" class="z-DefineBtn">确 定</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}