body{background:#fff;}
.logo{display: block; float: left; width: 348px; height: 100px; background: url(../img/logo.png) no-repeat;}
.return{margin-top:70px; float:right; background:url(../img/pic62.png) no-repeat left center; padding-left:22px;}
.return.orange{color:#ff500b; background:none;}
.return.orange i{color:#666;}

.log_in{overflow:hidden; height:540px; background:url(../img/log_bg.jpg) no-repeat center;}

.log_in .wrap{margin-top:69px;}
.log_in .log_con{position:relative; width:298px; padding:25px 35px; background:#fff; float:right; margin-right:35px; overflow:hidden;}
.log_in .log_con h3{font-size:20px; line-height:20px; margin-bottom:30px;}
.log_in .log_con input[type="text"],.log_in .log_con input[type="password"]{border:1px solid #ccc; padding-left:56px; width:240px; height:46px; line-height:46px; -webkit-transition:0.3s; -moz-transition:0.3s; transition:0.3s; margin-bottom:22px;}
.log_in .log_con input.log_id{background:url(../img/log01.png) no-repeat 15px center;}
.log_in .log_con input.log_id:focus{background:url(../img/log01_a.png) no-repeat 15px center; border-color:#ff7900;}
.log_in .log_con input.log_code{background:url(../img/log02.png) no-repeat 15px center;}
.log_in .log_con input.log_code:focus{background:url(../img/log02_a.png) no-repeat 15px center; border-color:#ff7900;}
.log_in .log_con summary{font-size:12px; font-family:'宋体'; overflow:hidden;}
.log_in .log_con summary a:hover{text-decoration:underline;}
.log_in .log_con summary .fl{float:left;}
.log_in .log_con summary .rl{float:right; color:#ff7900;}

.log_in .log_con input[type="submit"]{margin-top:22px; border:0; background:#ff7900; color:#fff; font-size:16px; width:298px; height:48px; -webkit-transition:0.3s; -moz-transition:0.3s; transition:0.3s; margin-bottom:22px;}
.log_in .log_con input[type="submit"]:active{background:#ff500b;}
.log_in .log_con article{padding-bottom:15px; border-top:1px dotted #ccc; padding-top:22px; height:17px; line-height:17px;}
.log_in .log_con article a{padding-left:24px; margin-right:10px;}
.log_in .log_con article a.ico_qq{background:url(../img/ico_qq.png) no-repeat left center;}
.log_in .log_con article a.ico_qq:hover{background-image:url(../img/ico_qq_a.png);}
.log_in .log_con article a.ico_wx{background:url(../img/ico_wx.png) no-repeat left center;}
.log_in .log_con article a.ico_wx:hover{background-image:url(../img/ico_wx_a.png);}

.log_in .fixed_wx{-webkit-transition:0.3s; -moz-transition:0.3s; transition:0.3s;  position:absolute; left:100%; top:0; background:#fff; width:100%; height:100%;}
.log_in .fixed_wx h2{font-size:18px; line-height:18px; margin:35px 0 20px; text-align:center;}
.log_in .fixed_wx div{margin:auto; width:203px; height:203px; border:1px solid #e2e2e2;}
.log_in .fixed_wx div img{width:100%;}
.log_in .fixed_wx p{text-align:center; margin-top:10px;}
.log_in .fixed_wx .fixed_wx_act{position:absolute; right:0; bottom:0; width:173px; height:61px; background:url(../img/return_01.gif); -webkit-transition:0.3s; -moz-transition:0.3s; transition:0.3s; cursor:pointer;}
.log_in .fixed_wx .fixed_wx_act:hover{width:173px; height:61px; background:url(../img/return_02.gif)}
.log_in .fixed_wx.wx_100{left:0;}

.log_in_foot{ height:64px; line-height:64px; font-size:12px;}
.log_in_foot article{float:left;}
.log_in_foot article i{color:#ccc; margin:0 8px;}
.log_in_foot article a{color:#999;}
.log_in_foot article a:hover{color:#ff7900;}

.log_in_foot summary{float:right; color:#999;}


.relevance{overflow:hidden; background:#fafafa; height:500px;}
.relevance .con{width:298px; margin:70px auto 0;}
.binding_box{overflow:hidden; background:#fafafa;}
.binding_box .con.padding{padding:40px 0;}
.binding_box .con{overflow:hidden; background:#fff; width:1200px; margin:50px auto;}
.binding_box .con-box{width:298px; margin:70px auto 40px;}

.binding_box .yanzhen{ text-align:center; border-bottom:1px solid #e2e2e2; margin:40px 50px -30px; padding-bottom:20px; color:#ff500b;}

.title{overflow:hidden;}
.title picture{width:68px; height:68px; float:left; border-radius:50%; overflow:hidden;}
.title picture img{width:100%; display:block;}
.title article{float:left; margin-left:15px;}
.title article h3{margin-top:8px; color:#ff500b; font-size:20px;}

.binding{overflow:hidden; margin:20px 0;}
.binding ul{overflow:hidden;}
.binding ul li{position:relative; overflow:hidden; height:80px;}
.binding ul li span{display:none; padding-left:20px; height:16px; color:#ff500b; line-height:16px; margin-top:8px; background:url(../img/log06.png) no-repeat left center;}
.binding ul li i{display:none; position:absolute; right:8px; top:17px;height:16px; width:16px; background:url(../img/log07.png) no-repeat;}
.binding input[type="text"],.binding input[type="password"]{border:1px solid #ccc; padding-left:56px; width:240px; height:46px; line-height:46px; -webkit-transition:0.3s; -moz-transition:0.3s; transition:0.3s;}
.binding input[type="text"]:focus,.binding input[type="password"]:focus{border-color:#ff7900;}
.binding input.gl_id{background:#fff url(../img/log01.png) no-repeat 15px center;}
.binding input.gl_id:focus{background-image:url(../img/log01_a.png);}

.binding input.gl_code, .binding input.re_code{background:#fff url(../img/log02.png) no-repeat 15px center;}
.binding input.gl_code:focus, .binding input.re_code:focus{background-image:url(../img/log02_a.png);}

.binding summary{overflow:hidden;}
.binding input.gl_verify{float:left; width:117px; background:#fff url(../img/log03.png) no-repeat 15px center;}
.binding input.gl_verify:focus{background-image:url(../img/log03_a.png);}
.binding summary a{float:left; width:122px; height:46px; line-height:46px; text-align:center; border:1px solid #ccc; border-left:0; display:block; background:#fff; color:#999;}
.binding summary a:hover{ color:#ff500b;}

.binding input[type="submit"]{margin-top:20px; border:0; background:#ff7900; color:#fff; font-size:16px; width:298px; height:48px; -webkit-transition:0.3s; -moz-transition:0.3s; transition:0.3s;}
.binding input[type="submit"].margin{margin:0;}

.binding input[type="submit"]:active{background:#ff500b;}
.binding article{ padding-bottom:15px; border-top:1px dotted #ccc; padding-top:22px; height:17px; line-height:17px;}

.binding-text{ margin-bottom:15px;}
.binding-text em{color:#999;}
.binding-text i{color:#22aaff; margin:0 8px;}
.binding-text a{color:#ff500b;}
.binding-text a:hover{text-decoration:underline;}

.binding-fixed-box{width:260px; height:60px; position:fixed; top:50%; left:50%; margin-top:-50px; margin-left:-130px; background:#fff; z-index:2; border:1px solid #e2e2e2; box-shadow:0 0 5px #e2e2e2}
.binding-fixed-box p{margin-left:75px; font-size:16px; color:#00a900; line-height:60px; padding-left:40px; background:url(../img/friends01.png) no-repeat left center;}

.binding-success{background:#fff; width:1200px; overflow:hidden; margin:40px auto; padding:50px;}
.binding-success.padding{padding:100px 0;}
.binding-success h1{ margin-bottom:30px; padding-top:75px; text-align:center; background:url(../img/chenggong.jpg) no-repeat center top; color:#00a900;}
.binding-success p{ margin-bottom:30px; text-align:center; color:#999;}
.binding-success p i{margin:0 8px; color:#22aaff;}
.binding-success a{display:block; width:200px; height:50px; border:1px solid #e2e2e2; text-align:center; line-height:50px; margin:auto; border-radius:3px;}
.binding-success a i{color:#999; margin-left:10px;}
.binding-success a:hover i{color:#fff;}
.binding-success a:hover{border-color:#ff500b; background:#ff500b; color:#fff;}



.relevance .con .relevance_input{overflow:hidden; margin:20px 0;}
.relevance_input input[type="text"],.relevance_input input[type="password"]{border:1px solid #ccc; padding-left:56px; width:240px; height:46px; line-height:46px; -webkit-transition:0.3s; -moz-transition:0.3s; transition:0.3s; margin-bottom:22px;}
.relevance_input input[type="text"]:focus,.relevance_input input[type="password"]:focus{border-color:#ff7900;}
.relevance_input input.gl_id{background:#fff url(../img/log01.png) no-repeat 15px center;}
.relevance_input input.gl_id:focus{background-image:url(../img/log01_a.png); border-color:#ff7900;}

.relevance_input input.gl_code{background:#fff url(../img/log02.png) no-repeat 15px center;}
.relevance_input input.gl_code:focus{background-image:url(../img/log02_a.png); }

.relevance_input summary{overflow:hidden;}
.relevance_input input.gl_verify{float:left; width:117px; background:#fff url(../img/log03.png) no-repeat 15px center;}
.relevance_input input.gl_verify:focus{background-image:url(../img/log03_a.png);}
.relevance_input summary a{float:left; width:122px; height:46px; border:1px solid #ccc; border-left:0; display:block; background:#fff;}

.relevance_input input[type="submit"]{border:0; background:#ff7900; color:#fff; font-size:16px; width:298px; height:48px; -webkit-transition:0.3s; -moz-transition:0.3s; transition:0.3s;}
.relevance_input input[type="submit"]:active{background:#ff500b;}
.relevance_input article{padding-bottom:15px; border-top:1px dotted #ccc; padding-top:22px; height:17px; line-height:17px;}

.register{overflow:hidden; padding:70px 0; border-top:1px solid #f4f4f4; border-bottom:1px solid #f4f4f4;}
.register .register_box{width:1200px; margin:auto; border:1px solid #f4f4f4; border-radius:3px;}
.register .con{width:298px; margin:30px auto;}
.register .con .title{text-align:center; font-size:20px;}

.register .con .register_input{overflow:hidden; margin:20px 0;}
.register_input input[type="text"]{border:1px solid #ccc; padding-left:56px; width:240px; height:46px; line-height:46px; -webkit-transition:0.3s; -moz-transition:0.3s; transition:0.3s; margin-bottom:22px;}
.register_input input[type="text"]:focus{border-color:#ff7900;}
.register_input input.gl_id{background:#fff url(../img/log01.png) no-repeat 15px center;}
.register_input input.gl_id:focus{background-image:url(../img/log01_a.png); border-color:#ff7900;}

.register_input input.gl_code{background:#fff url(../img/log02.png) no-repeat 15px center;}
.register_input input.gl_code:focus{background-image:url(../img/log02_a.png); }
.register_input summary{overflow:hidden;}
.register_input input.gl_verify{float:left; width:117px; background:#fff url(../img/log03.png) no-repeat 15px center;}
.register_input input.gl_verify:focus{background-image:url(../img/log03_a.png);}
.register_input summary a{float:left; width:122px; height:46px; border:1px solid #ccc; border-left:0; display:block; background:#fff;}

.register_input input[type="submit"]{border:0; background:#ff7900; color:#fff; font-size:16px; width:298px; height:48px; -webkit-transition:0.3s; -moz-transition:0.3s; transition:0.3s;}
.register_input input[type="submit"]:active{background:#ff500b;}
.register_input article{padding-bottom:15px; border-top:1px dotted #ccc; padding-top:22px; height:17px; line-height:17px;}

.verification{overflow:hidden;}
.verification input.gl_phone{background:#fff url(../img/log05.png) no-repeat 15px center; width:130px; float:left;}
.verification input.gl_phone:focus{background-image:url(../img/log05_a.png); }
.verification .verification_act{ height:48px; width:100px; text-align:center; line-height:48px; color:#fff; background:#ff7900; display:block; float:right;}
.register_box .xieyi{margin-top:15px; text-align:center; display:block; color:#ff7009;}
.register_box .xieyi:hover{text-decoration:underline;}



.register_code{margin-top:100px;}
.register_code .register_code_info{margin-bottom:15px;}
.register_code .register_code_info span{color:#22aaff; font-weight:bold;}
.register_code .register_code_info a{color:#999;}
.register_code .register_code_info a:hover{text-decoration:underline;}
.register_code div{overflow:hidden;}
.register_code input[type="text"]{float:left; width:162px; height:40px; padding:0 10px; border:1px solid #ddd; border-right:0; line-height:40px;}
.register_code_resend{float:left; width:112px; height:40px; border:1px solid #ddd; text-align:center; line-height:40px;}
.register_code input[type="submit"]{display:block; width:100%; height:40px; margin-top:60px; border:none; border-radius:3px; background:#fd4f0b; color:#fff;}



#resend-wrap{display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:url(../img/hei.png) repeat;}
#resend-close{position:absolute; top:0; right:8px; font-size:22px; line-height:32px; color:#999; cursor:pointer; -webkit-transition:0.3s; -moz-transition:0.3s; transition:0.3s;}
#resend-close:hover{color:#333;}
.resend-container{position:absolute; top:50%; left:50%; width:316px; height:190px; margin:-95px 0 0 -158px; background:#fff; text-align:center;}
.resend-container h5{height:32px; margin-bottom:20px; background:#f2f2f2; color:#555; font-size:16px; font-weight:bold; line-height:32px; text-indent:10px; text-align:left;}
.resend-container input[type="text"]{width:120px; height:40px; padding:0 10px; border:1px solid #ddd; vertical-align:middle;}
.resend-container .resend-code{display:inline-block; width:90px; height:40px; border:1px solid #ddd; overflow:hidden; vertical-align:middle;}
.resend-container .resend-code img{width:100%;}
.resend-container span{color:#999;}
.resend-container input[type="submit"]{display:block; width:80px; height:30px; margin:40px auto 0; border:none; border-radius:2px; background:#ff6600; color:#fff;}



